[2019-12-31 20:18] vielmetti opened #8 "Build notes: build of containerd fails on jessie due to out of date libseccomp dependency"
On a whim, tried to build this under a `jessie` based Raspberry Pi system, and got a build failure with the error that the minimum required version of libseccomp is v2.2.0 and jessie only provides 2.1.1.

Not readily possible to fix, and it's time to upgrade that system in any case, so this is just a word of note to anyone building this that there's that dependency.

[2019-12-31 20:21] alexellis commented on #8
Thanks for the note, I'd encourage all users to employ a new SD card with the latest version of Raspbian.

[2020-01-01 12:18] #8 closed

[2020-01-01 13:25] alexellis opened #10 "Use data directory instead of working directory for state"
## Description

Use data directory instead of working directory for state

Anywhere where "wd" (working directory) is used, change this for a data directory instead.

* Add --data-dir flag to install and up commands
* Swap out all references to "wd"
* Set the default --data-dir in the systemd unit file for faasd

I assume this would be something like:

/run/faasd/

`/var/run` appears to be a symli

[2020-01-02 11:56] alexellis opened #11 "[Feature] Enable basic-auth for faasd-containerd in faasd install"
## Expected Behaviour

Enable basic-auth in faasd install by updating faas-containerd's unit file to set the basic_auth=true env-var.

## Current Behaviour

Whilst faas-containerd now supports basic auth, it's disabled by default leaving it vulnerable, even if faasd and the gateway have it enabled.

## Possible Solution

Edit https://github.com/alexellis/faasd/blob/master/hack/faas-containerd.serv

[2020-01-02 11:58] alexellis commented on #11
cc @Waterdrips @LucasRoesler ref https://github.com/alexellis/faas-containerd/pull/12

[2020-01-04 21:35] Immortalin opened #14 "Random Question"
Is the code to keep containers hot kept in this repo or is it part of the main OpenFaaS system?

[2020-01-05 08:28] alexellis commented on #14
The default behaviour is that container stay up with minimum availability, ready to serve requests. If you're new, you're looking for openfaas/faas, and probably not faasd.

Please join Slack for technical support and questions.

[2020-01-05 08:28] #14 closed

[2020-01-05 08:28] alexellis commented on #14
/msg: slack

[2020-01-05 08:32] #11 closed

[2020-01-05 10:02] Waterdrips opened #16 "Add command for resetting auth secrets"
Currently the secrets are created if they dont exist, but they are never changed.

We need some way for a user to easily reset secrets, and possibly reload the containers that rely on them if they are running?

## Expected Behaviour

A command to change the saved secret, or we can recreate every time?

## Current Behaviour

Secrets static once created and dont change. A user would have to manually

[2020-01-05 10:12] alexellis commented on #16
I think this is working as expected. Maybe you can add a note on how to delete or edit the secret in the README?

[2020-01-05 12:00] #10 closed

[2020-01-07 18:32] alexellis opened #19 "Convert over to CNI from netns"
Convert over to CNI from netns

## Expected Behaviour

This is mentioned in the README, we should use CNI for container networking rather than the nets binary.

## Current Behaviour

netns binary which I believe is unmaintained

## Possible Solution

There's an open PR from @carlosedp, it would make sense for Carlos to apply the same patch here once tested / released.

https://github.com/alexellis

[2020-01-09 18:59] alexellis opened #20 "Add "faasd provider" command"
faas and faas-containerd do different jobs but can live as one codebase to reduce overhead. They do have some common concerns such as creating containers/tasks and managing network/IPs with CNI.

## Expected Behaviour

Add "faasd start-provider" command which would run the code from [faas-containerd](https://github.com/alexellis/faas-containerd), perhaps vendoring it, or just copy/pasting it into

[2020-01-16 13:23] alexellis opened #22 "Build an installer for all the faasd components"
Build an installer for all the faasd components

## Expected Behaviour

There should be one command to get faasd up on a compatible system, such as Ubuntu 18.04 or Raspberry Pi, that's aware of the architecture and OS, and can bootstrap everything that's required.

## Current Behaviour

Many arduous manual steps are required.

This could be a bash script for instance.

[2020-01-20 22:44] carlosedp commented on #20
Addressing this issue on PR #23

[2020-01-21 01:49] carlosedp commented on #19
Addressed in #21 and #23

[2020-01-21 07:51] alexellis commented on #19
You can put yourself into .DEREK.yml so that you can close issues and PRs. Also, you should add to your commit messages: Closes: #21 Etc

[2020-01-21 07:51] #19 closed

[2020-01-21 16:53] alexellis opened #26 "Switch to /var/lib/faasd for working directory to keep persistence"
Switch to /var/lib/faasd for working directory to keep persistence

## Expected Behaviour

Between reboots we should keep the basic-auth-* files and any other state required.

## Current Behaviour

@carlosedp reported that the /var/run/ folder is always deleted upon reboot.

## Possible Solution

Move to /var/lib/faasd/ instead

## Steps to Reproduce (for bugs)

1. Run `faasd install`
2. Login
3.

[2020-01-22 09:19] alexellis opened #29 "Evaluate options for secret support"
The OpenFaaS API can offer CRUD (without the R) for secrets, these can then be mounted into OpenFaaS containers at deployment time.

It would be good to have some consistency here and match the other providers.

How will secrets be stored and mounted? Are we satisfied with the tradeoffs?

Environment variables:

Should people use environment variables, which are also available in plaintext to auth

[2020-01-22 16:46] #26 closed

[2020-01-24 22:09] #20 closed

[2020-01-27 09:04] alexellis opened #30 "[Feature] Support other container image registries, including private ones"
## Description

Support other container image registries, including private ones

## Detail

- [ ] Users should be able to deploy **public** images stored outside of the Docker Hub in third-party registries such as GitLab's public registry or quay.io
- [ ] Private images which **require authentication** to be pulled should also be supported, whether stored on the Docker Hub or a third-party regist

[2020-01-27 09:30] KaiWedekind commented on #30
Thank you Alex!

[2020-01-28 11:41] #29 closed

[2020-01-29 06:54] prateekgogia opened #33 "Accessing faasd components from outside the VM"
I just started playing with faasd, and was able to install faasd. However, can't access the Prometheus gateway or perform any other operation inside the VM. Is there a way to be to access the private IPs from outside the VM. Like Docker allows port-mapping, is there anything similar available?

## Expected Behaviour

Trying to figure out if there is a way to be able to access private IPs from outs

[2020-01-29 07:06] prateekgogia commented on #33
Also, not sure if this is the expected behavior:
192.168.56.102 is the VMs IP

[code]

[2020-01-29 14:53] #33 closed

[2020-01-29 14:53] alexellis commented on #33
Please feel free to ask questions on Slack for technical support. #openfaas or #contributors will make a good fit.

[2020-01-29 15:31] gabeduke opened #34 "Developer onboarding"
As a new developer I would like to stand up an environment in a limited number of steps to start iterating on new code.

## Proposal

Below is a first pass at standing up a VM in multipass with some helper scripts for syncing the project and redeploying from source.

https://github.com/alexellis/faasd/compare/master...gabeduke:master

Steps to validate (check out my fork):

1. `make multipass-run`

[2020-01-31 08:58] alexellis opened #35 "[Feature] Offer to proxy out Prometheus via "faasd up""
## Description

Prometheus is bundled with PLONK (faasd or OpenFaaS on Kubernetes), but with faasd has a private IP for its container. We currently proxy the gateway to port 8080 on the host machine, from the container.

We could do the same for Prometheus so that users can access it via the host IP. This may not be a sensible default, but useful for development/test. The TCP port is 9090 and uses

[2020-01-31 13:44] alexellis commented on #30
@KaiWedekind are your repos public and without auth, just not on docker.io, or are they also private? We have two use-cases and I’d like to support it in two steps.

[2020-02-03 07:41] KaiWedekind commented on #30
@alexellis I'm am using a self hosted GitLab and their container registry. My repos there are private.

I was using this line in my .gitlab-ci.yaml to login. [Ref](https://github.com/openfaas/faas-cli/issues/760)
[code]
Build and push to the container registry works, it is just the deployment.
Thank you, Alex.

[2020-02-03 13:53] alexellis opened #36 "Move to OpenFaaS org"
## Description

Now that faasd almost has parity with faas-netes/swarm, it can be moved into the openfaas org.

This will result in any artifacts and URLs being under the github.com/openfaas org rather than my personal account and this may encourage more use / testing within the community.

CI, tutorials and blog posts are all likely to break, so a release and update will be required around the sa

[2020-02-03 14:03] estesp commented on #30
Some help on using the Go API to support authenticated registry interactions:

When used as a CRI provider, the CRI plugin has its own configuration for registry auth: https://github.com/containerd/cri/blob/master/docs/registry.md

When using the Go client API for containerd, you can see from the `ctr images pull` implementation (as one example) how it sets up the `NewDockerAuthorizer` using these

[2020-02-03 14:03] alexellis commented on #30
I suspect that a nice experience might be to have users copy their `.docker/config.json` file to a known location, and for the faasd daemon to always use that to resolve images. A good location may be: `/var/lib/faasd/.docker/config.json`

The Docker config JSON file is also used in Kubernetes and can support multiple remotes.

[2020-02-03 14:04] alexellis commented on #30
Thank you @estesp

[2020-02-03 14:10] burtonr commented on #36
I'm excited for this! faasd has some real potential, and bringing it in to OpenFaaS means (to me) it's past the "proof-of-concept" stage. I'm looking forward to contributing and using this more in the near future!

[2020-02-03 19:49] carlosedp opened #37 "Remove netlink and weave library dependencies"
## Expected Behaviour

Currently faasd depends on a custom library based on weave net and has netlink/netns dependencies.

The idea is to provide a built-in solution to fetch container IP addresses from CNI configuration and results.

## Possible Solution

Use CNI result files parsing the container IP addresses similar to how it's done in https://github.com/rancher/k3c/blob/49e287adc5d011d79bec47b

[2020-02-04 10:16] alexellis commented on #37
So my primary concern here is if we are changing the code that queries netlink to something less robust, like a cache from the filesystem. What about surviving reboots and restarts? How does this compare? Why do we think it's better or worse?

I'd like to see more of a proposal for this, especially before working on a PR.

See "I have a great idea" in the contributing guide. https://github.com/ope

[2020-02-04 10:16] alexellis commented on #37
/add label: design/review

[2020-02-04 10:43] alexellis commented on #36
Added to Trello roadmap for 2020.

[2020-02-04 10:43] alexellis commented on #30
Added to Trello roadmap for 2020.

[2020-02-04 12:51] carlosedp commented on #37
Reboot is not an issue here since by using the CNI bridge plugin and the host-local IPAM, in the event of a reboot when faasd and faasd-provider processes start, they will assign new IP addresses to all containers as seen here:

Before reboot:

[code]

After reboot:

[code]

All containers got new IPs. This is already used on K3C where the IPs from created containers are read from the CNI results.

[2020-02-05 18:47] utsavanand2 opened #40 "Add labels to OpenFaas functions from the function spec"
Add labels to OpenFaas functions from the function spec

## Expected Behaviour

We should be able to add a label to a function by adding it to container definition.

So, when we run:
`faas-cli store deploy figlet --label hello=world`

We should get back the labels with:
`faas-cli describe figlet`

## Current Behaviour

Labels are not added

## Possible Solution

A PR is in the works

## Steps to R

[2020-02-05 20:15] carlosedp commented on #37
As spoken before, here a list of pros/cons on this implementation:

## Current netlink/netns imlementation:

**Pros**

* Fetches the current IP directly from Linux interface configuration
* Has been used on other well tested libraries like Weave Net

**Cons**

* Depends on two external libraries
* Depends on two internal modules to provide access to the libraries
* More code == more bugs and more

[2020-02-06 09:36] #36 closed

[2020-02-08 10:16] alexellis commented on #36
We've live on the openfaas, org, thank you for the input and support.

Here's a new blog post to celebrate - https://blog.alexellis.io/deploy-serverless-faasd-with-cloud-init/ - try it out and let me know your thoughts.

[2020-02-09 12:46] AkihiroSuda commented on #30
PR https://github.com/openfaas/faasd/pull/41

[2020-02-11 15:03] martindekov commented on #40
I can take a look at this 👍

[2020-02-11 15:04] martindekov commented on #40
Derek assign: me

[2020-02-11 15:09] alexellis commented on #40
Thank you 💪

[2020-02-12 07:36] AkihiroSuda opened #42 "add Dockerfile"
## Expected Behaviour

faasd should be locally testable using Docker

## Current Behaviour

multipass is required

## Possible Solution

Install faasd and containerd in a single container together, along with systemd.

[2020-02-12 17:38] carlosedp commented on #40
Hey @martindekov, I've added some references on the previous issue:

Doc: https://godoc.org/github.com/containerd/containerd#WithContainerLabels

Code:

https://github.com/openfaas/faasd/blob/4775a9a77ce260857a2ef34326bd9c768b193db5/pkg/provider/handlers/deploy.go#L100.

[2020-02-13 13:05] martindekov commented on #40
Thanks for pointing the right place @carlosedp 👍 Definitely saved me time searching it 🍻

[2020-02-15 18:46] martindekov opened #44 "Restarting faasd leaves containers"
While working on:
https://github.com/openfaas/faasd/issues/40

I had to restart the `faasd` along with the `faasd-provider` service to to load the new faasd binary with the changes. With every restart the IP address of the gateway moved up with some value like:
* First run: `http://10.62.1.151:8080`
* Second run: `http://10.62.1.161:8080`
* Third run: `http://10.62.1.171:8080`

It seems like with

[2020-02-17 14:38] martindekov opened #46 "Improve response when requesting logs"
In Slack customer complained about the response of the missing implementation of the log handler it returned:
[code]

## Expected Behaviour

Return more verbose response, by implementing the LogsHandler from the faas-provider similar to how we do it with namespaces:
https://github.com/openfaas/faasd/blob/4bca5c36a55dcdaa4b0debf4989def205c0735d1/cmd/provider.go#L82
https://github.com/openfaas/faasd

[2020-02-20 09:02] alexellis opened #47 "[Feature] Add support for logs via API"
## Feature

This feature would add support for retrieving logs via the REST API.

Today users can ssh into a faasd machine and run `journalctl -u faasd`, however, if faasd restarts, the containers become disconnected from the parent process and they no-longer stream output via journalctl.

I don't know how to store / disconnect logs from containerd, but Kubernetes and [the CRI interface](https://k

[2020-02-20 18:06] alexellis commented on #47
From @estesp (containerd maintainer):

[2020-02-23 01:37] gabeduke opened #48 "Containerd service not enabled in user-data"
If the instance is restarted using the default user-data script containerd will fail to come up. This can be solved by enabling the service.

## Expected Behaviour
Faasd should recover on instance reboot

## Current Behaviour
Faasd fails to start with the following error

[code]

## Possible Solution
add `systemctl enable containerd` to user-data

## Steps to Reproduce (for bugs)

1. Install using

[2020-02-23 07:50] alexellis commented on #47
CRI appears to store logs on disk: https://www.youtube.com/watch?v=cudJotS97zE

![Screenshot 2020-02-23 at 07 49 29](https://user-images.githubusercontent.com/6358735/75105947-2bf30100-5611-11ea-9bb0-85b43e178bd3.png)

[2020-02-23 07:56] alexellis commented on #47
`crictl logs` -> https://github.com/kubernetes-sigs/cri-tools/blob/86dfb0fd89eeda5e34ee3cb89ded812dc74d5ff0/vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/logs/logs.go#L272

[2020-02-23 08:35] alexellis commented on #47
Here's an example of using the CRI logging code to write to a file, from a ping process started outside of a container. It should be possible to hook it up to the container from containerd.

https://gist.github.com/alexellis/f232fe1fd2fe5278d411732af2645d79

The issue I see is that if faasd restarts, we'll lose the logs of the process since the io/copy is done in the parent.

At a guess (I may be

[2020-02-23 09:13] alexellis commented on #47
K8s logging architecture - https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-node-level "Everything a containerized application writes to stdout and stderr is handled and redirected somewhere by a container engine" 🤔

[2020-02-23 09:16] alexellis commented on #47
Further example (albeit an old one) from @crosbymichael  - https://github.com/containerd/containerd/pull/3085

[2020-02-23 19:12] nanikjava commented on #47
If you kill faasd from command using

`sudo ps aux | grep -i faas    | awk '{print $2}' | sudo xargs kill -9
`

you will see the containers are still running using the command

`sudo ./ctr tasks ls
`

following is what I see on my machine (Linux Ubuntu 19.04)

[code]
only the nats container is stopped while the rest is running.

Using the command

`sudo ./ctr tasks attach gateway
`

able to attach

[2020-02-23 20:05] #48 closed

[2020-02-23 20:06] #40 closed

[2020-02-23 20:45] alexellis opened #51 "[Feature] Annotation support"
## Description

[Feature] Annotation support

We should be able to store annotations from the openfaas deployment JSON.

This could be done in a special hidden label, and is the approach that was taken for [faas-swarm](https://github.com/openfaas/faas-swarm/blob/50e03508a2b120d9b088485787725719f792f832/handlers/reader_test.go)

[2020-02-23 20:46] alexellis commented on #47
We have logs now via #50 - they are recorded via the systemd journal, but not queried back via the API.

This package may be of help/use:

https://github.com/coreos/go-systemd/blob/a4887aeaa186e68961d2d6af7d5fbac6bd6fa79b/sdjournal/read.go#L67

[2020-02-23 20:47] alexellis commented on #47
This issue is about implementing the logs handler for log retrieval (pending) and also for log recording (that part is completed now) cc @LucasRoesler as mentioned on Slack https://openfaas.slack.com/archives/C1D32GFS8/p1582487994062300

[2020-02-23 20:51] alexellis commented on #46
Closed by https://github.com/openfaas/faasd/commit/dc8667d36a7b9588ecb0668d88163ada23be2b75

[2020-02-23 20:51] #46 closed

[2020-02-23 20:51] #30 closed

[2020-02-23 20:52] alexellis commented on #30
Many thanks @AkihiroSuda

[2020-02-23 20:59] alexellis opened #52 "[Testing] Show that labels work"
## Testing task

Type: end to end test

Prove that a label is created an then retrieved via the API

Add here:

https://github.com/openfaas/faasd/blob/master/Makefile#L38

Suggested method:

Update the figlet deployment to take a `--label key-value` and then query it back via `faas-cli describe figlet | grep`?

[2020-02-23 21:14] Waterdrips commented on #16
/close

[2020-02-23 21:14] #16 closed

[2020-02-23 21:57] kadern0 commented on #52
Happy to take this one.

[2020-02-24 09:55] alexellis commented on #30
@KaiWedekind PTAL :)

[2020-02-24 10:36] kadern0 opened #53 "Labels not showing up when using faasd on Multipass"
Labels not showing up when running `faas-cli `describe function

Steps to Reproduce
1. Followed this [guide](https://gist.github.com/alexellis/6d297e678c9243d326c151028a3ad7b9) to get faasd running locally with multipass -> https://gist.github.com/alexellis/6d297e678c9243d326c151028a3ad7b9

(I've tried faasd versions: 0.7.7 and 0.7.8)

2. Deploy function with labels:
[code]
3.  Describe deployed f

[2020-02-24 11:26] alexellis opened #54 "[Feature] add PullPolicy flag / option"
[Feature] add PullPolicy flag / option

## Expected Behaviour

Some users prefer to use `latest` for their images and not to use differing tags, this feature would always pull an image even if it was available locally, in that way, they don't have to change the tag.

## Current Behaviour

Possible via:

[code]

Or editing the tag

## Possible Solution

Add a configuration to the systemd unit file

[2020-02-24 12:30] martindekov commented on #53
I think this might be more `faas-cli` related rather than `faasd`. I will take a better look later today. If the labels appear on the server then the problem is in the client in our case `faas-cli`.

[2020-02-24 12:30] martindekov commented on #53
By the way thank you for opening this @kadern0 💪

[2020-02-24 23:05] kadern0 commented on #53
My initial impression was same as yours, that this issue belongs to `faas-cli` but after talking to @alexellis and verifying he was getting results with same `faas-cli` version leaded to the idea that the problem is within the provider.

[2020-02-25 07:11] #53 closed

[2020-02-25 08:36] martindekov commented on #53
The problem is now resolved, thanks for the feedback 👍

[2020-02-26 17:19] alexellis commented on #44
@carlosedp please could you take a look?

[2020-02-26 17:23] martindekov commented on #44
I can explore this further so I will assign myself

[2020-02-26 17:24] martindekov commented on #44
Derek assign: me

[2020-02-26 21:45] carlosedp commented on #44
Actually the containers don't stay but the IP allocation is kept on the filesystem.
The CNI plugin uses the "host-local" IPAM that by default stores the allocated IPs in `/var/lib/cni/networks/$NETWORK_NAME`.

I think it would be a good thing to move this directory to `/var/run/cni` for example so it would be cleaned between reboots.

What do you think @alexellis?

[2020-02-26 23:44] carlosedp commented on #44
This does not happen here, as can be seen below, first I curl directly to the gateway IP address (.10) and list the containerd tasks. Gateway has the PID 5736.

Then I restart faasd and the gateway container has other PID (6664). Also it has a new IP address (.15).

Curl to it on a deployed function returns as well. Also there are no duplicate containers.

[code]

[2020-02-26 23:52] carlosedp commented on #44
Also I can't deploy the same figlet function twice:

[code]

I believe a function with or without labels should be unique by it's name.

[2020-02-27 21:57] #52 closed

[2020-03-01 17:11] alexellis commented on #47
I would like to avoid any dependency on CGO as this will create issues when deploying to different OSes. sdjournal seems to take a hard dependency on it.

[2020-03-01 17:12] alexellis commented on #47
Orbit by @ehazlett execs `journalctl`, that may be the reason why.

https://github.com/stellarproject/orbit/blob/45483b663600e92c8de516a127c0ed13ec5268be/cmd/ob/log.go

[2020-03-01 18:18] martindekov commented on #44
Thanks for looking at this @carlosedp I have also tried to replicate and it seems like the problem did not persist. I only deployed the same function with two different set of labels this time though and restarted the `faasd` and `faasd-provider` services which is a subset of the things I did originally.

I will close this I think what I have noticed was related with me recompiling the binary or s

[2020-03-01 18:18] #44 closed

[2020-03-01 20:18] alexellis commented on #54
Fixed in: https://github.com/openfaas/faasd/releases/tag/0.8.0

This is now the default behaviour.

[2020-03-01 20:18] #54 closed

[2020-03-01 20:19] alexellis commented on #34
Since the PR is closed I'll close the issue too. @gabeduke thanks for helping out.

[2020-03-01 20:19] #34 closed

[2020-03-01 20:22] alexellis opened #58 "Blank function name shown on "faas-cli list" whilst container is being removed"
## Expected Behaviour

A function to show up whilst being deleted, or to be completely removed during deletion.

## Current Behaviour

A blank function name is shown in the place of the function being deleted on "faas-cli list" whilst the container is being removed (up to `write_timeout` seconds)

## Steps to Reproduce (for bugs)

1. `faas-cli store deploy figlet`
2. `faas-cli list`

[code]

3. `f

[2020-03-01 20:22] alexellis commented on #58
@carlosedp PTAL?

[2020-03-01 20:28] alexellis opened #59 "Move --pull-policy flag to ProviderConfig"
The pull-policy flag can be moved into the `ProviderConfig` struct and read in the `read.go` file instead of using a flag.

Provider command with a flag:

https://github.com/openfaas/faasd/blob/master/cmd/provider.go#L28

Config package: https://github.com/openfaas/faasd/tree/master/pkg/provider/config

Suggestion via @LucasRoesler

[2020-03-01 20:33] gabeduke commented on #34
No prob 👍

[2020-03-01 21:19] LucasRoesler commented on #47
Does that mean that exec is ok then?

[2020-03-02 16:57] GavinRay97 commented on #42
Containerizing `faasd` with Docker would mean you would be able to deploy it to Serverless Container platforms like Cloud Run and Fargate, right?

[2020-03-02 17:09] AkihiroSuda commented on #42
Yes if they support `--privileged` otherwise no.

The main purpose is ease of getting started and testing.

[2020-03-06 22:46] carlosedp commented on #58
Looking at this.

[2020-03-06 23:57] carlosedp commented on #58
Created PR https://github.com/openfaas/faasd/pull/61 to address this.

[2020-03-08 14:10] carlosedp opened #63 "Migrate to Go modules and remove vendor dir"
## Expected Behaviour

Use Go modules instead of `dep` and remove `vendor` directory since go modules now handles caching into `~/go/pkg/mod`.

The advantage is that it's built-in Go since 1.13 and production on 1.14 ready as stated in https://blog.golang.org/go1.14.

## Current Behaviour

Building requires `dep`, an external application.

## Possible Solution

Will submit a PR if the proposal get

[2020-03-08 14:32] carlosedp commented on #58
Derek close: Fixed by #61

[2020-03-08 15:03] carlosedp commented on #58
Derek close: Fixed by #61

[2020-03-08 15:03] #58 closed

[2020-03-08 15:30] alexellis commented on #63
Not approved. Please hold off on this.

[2020-03-09 13:04] carlosedp opened #64 "Stopping faasd and faasd-provider should stop all containers"
## Expected Behaviour

Stopping faasd and faasd-provider should stop all containers. When the processes `faasd` and `faasd-provider` are stopped (with sysctl), it's expected that all containers should be stopped.

## Current Behaviour

Some container tasks remain in `RUNNING` state.

Before stop, all tasks are running:

[code]

After service stop:

[code]

As seen, the deployed function, `figlet`

[2020-03-09 13:47] carlosedp commented on #64
Apparently Prometheus is preventing the stop to proceed. I changed :

File `up.go`
[code]

And got:

[code]

[2020-03-09 18:39] carlosedp commented on #64
One issue I believe @alexellis might need to direct is how the provider should behave related to deployed functions.

Since faasd-provider does not keep the state, if it is stopped and the functions deleted, when started back the functions would not be recreated.

One option would be just stopping the functions (killing it's tasks) but keeping the container so in the event of a restart, faasd-prov

[2020-03-15 20:40] alexellis commented on #64
Why do you feel that is this change required? (I may not understand the problem well enough, I'm listening)

[2020-04-05 00:55] mdaniel opened #66 "Support for Flatcar Linux"
## Expected Behaviour

`faasd install` does whatever it was trying to do without error

## Current Behaviour

[code]

## Possible Solution

Instead of hard-coding the path, do the golang equivalent of `the_file="$(cd $(dirname "$0") && pwd)/$(basename "$0")"` is

## Steps to Reproduce (for bugs)
1. `vagrant install vagrant-ignition`
2. _copy the `Vagrantfile` below into the current directory_
3. `

[2020-04-05 09:03] alexellis commented on #66
/set title: Support for Flatcar Linux

[2020-04-05 09:05] alexellis commented on #66
Hi @mdaniel thank you for your interest.

You'll have to bring me up to speed here, as I don't use that specific distro. What path is used for Flatcar Linux and what would prevent you from creating `/usr/local/bin` on your Flatcar VM?

Alex

[2020-04-05 09:10] ahrkrak commented on #66
/usr is read-only in Flatcar Container Linux (like CoreOS):
https://docs.flatcar-linux.org/os/sdk-disk-partitions/

[2020-04-05 09:13] alexellis commented on #66
How would people normally run processes or install software? Does it only run containers, or is there somewhere on the filesystem that's fair game?

[2020-04-05 13:25] invidian commented on #66
Given that this is Container Linux, the recommended way of running things on Flatcar is to use containers. Can `faasd` be run from e.g. Docker?

An alternative would be, to store the binary in `/opt`, which is usually used for 3rd party software (the directory does not exist on default installation IIRC).

Then, if path in `faasd` is hardcoded, one can do a bind mount as a workaround too:
[code]

[2020-04-05 14:58] alexellis commented on #66
We could accept a PR to install to a specific location. What other issues do you envisage? Perhaps try the bind mount and see if that's enough?

[2020-04-05 15:38] rata commented on #66
If only a binary is needed, I guess no other issues.

`opt/bin` is on the PATH by default (need to `mkdir -p /opt/bin`, though). If you need to install binaries to a specific location, that should work. The bind-mount too, if you can't change the location or prefer that for some reason.

Don't hesitate to write us if you find any other issues :-)

[2020-04-05 19:15] mdaniel commented on #66
Thanks for everyone weighing in; while the `mount --bind` trick side-steps that one specific issue, it surfaces the next hard-coded path, which would be weirder to bind-mount away[1]:
[code]

I do appreciate that command-line flags or config files may go against the ethos of "download binary, get faasd" but their flexibility allows the software to work in a lot more situations

I just wanted to re

[2020-04-11 10:24] mehyedes opened #67 "Ability to bootstrap a production-ready faasd with TLS support"
Currently it is possible to provision a faasd installation on digitalocean using terraform by following the steps in [Terraform for DigitalOcean](https://github.com/openfaas/faasd#terraform-for-digitalocean).
The idea is to extend this to provision a production-ready faasd installation by adding TLS support out of the box.

## Expected Behaviour

A faasd installation with TLS support is provisione

[2020-04-11 10:27] mehyedes commented on #67
@alexellis As we discussed, this is not about how long it takes to have the setup ready. But the goal is to be able to get to a production-ready faasd installation with TLS support as easily as possible.

[2020-04-11 17:39] mehyedes commented on #67
I have created this gist: https://gist.github.com/mehyedes/23e40c6426ac6c7bf28cca9d07036746

Maybe we could integrate it into the faasd repo.

[2020-04-13 05:23] mphuie opened #68 "Logs showing -- no entries--"
I have a simple python3 function deployed that adds a print statement in the handler, nothing else in the template is changed.  I've invoked it several times.

When SSH to the host and run `journalctl -t openfaas-fn:<function name>`, I get
no log entries.  The end timestamp shown does reflect the last invocation time, but no logs are displayed

`journalctl -t openfaas-fn:testsql
-- Logs begin at S

[2020-04-14 08:26] alexellis commented on #67
Hi @mehyedes thanks for working on this :+1:

Is there anything around timing / retries or rate-limits that apply here?

Re the gist - yes, please send a PR, should we use the docs sub-folder maybe and also include the gist I built for Terraform + DO?

Could you change "CA_EMAIL" to `letsencrypt_email` or similar?

[2020-04-14 09:12] mehyedes commented on #67
Hi @alexellis
Looks like there is no such available with the tf DO provider: https://github.com/terraform-providers/terraform-provider-digitalocean/issues/235
I have also received some valuable input from @Waterdrips , so I will update the configuration and then create a PR.

[2020-04-16 16:21] alexellis opened #69 "Timeout of long function execution"
I hit a timeout of a long function execution

The issue can be reproduced with this: https://github.com/alexellis/go-long

I checked the gateway, it's hard-coded to 60s

The provider has a read/write timeout set of the same value

However, @LucasRoesler suggested that there is also an upstream timeout value that also needs a value and is defaulting to 8-10s.

https://github.com/openfaas/faasd/blob

[2020-04-16 20:22] alexellis commented on #69
This might be a red herring since I may have been invoking without a POST method. Closing for the time being. We should look at changing the timeout to being dynamic though.

[2020-04-18 16:45] mehyedes commented on #67
PR Created: https://github.com/openfaas/faasd/pull/70

[2020-05-04 21:38] #42 closed

[2020-05-27 09:20] alexellis opened #73 "Update the Docker images for the core components"
We need to update the tags for the Docker images used for the OpenFaaS core components such as the gateway and queue-worker.

Whoever makes this change should also look at what environment variables and configuration items have been introduced and fine-tune accordingly. For instance the queue-worker should now have `max_inflight` set to something like `5` to enable concurrency.

## Acceptance

Tes

[2020-05-27 09:40] Hsiny commented on #73
Hi, Alex , I want to know if we need to do these things for this issue

1. Save the log before upgrade
2. Upgrade the docker image verison in [up.go](https://github.com/openfaas/faasd/blob/master/cmd/up.go) , and update configuration items whitch have been introduced and fine-tune accordingly
3. Retest and make sure the faasd works as expected, save the log after upgrade

[2020-05-27 10:05] alexellis commented on #73
That sounds fine to me, would you like to take this issue @Hsiny ?

[2020-05-27 10:20] Hsiny commented on #73
ok, I will do these work I listed and then create a PR

[2020-05-27 10:39] alexellis commented on #73
Please bear in mind that there is a PR template to use, which has fields we would like to see filled in.

One other requirement is that for each commit you use `git commit -s` instead of just `git commit`. This adds your Signed-off-by line as described in the contributing guide.

Thanks

[2020-05-30 03:14] Hsiny commented on #73
@alexellis
Hi, Alex, I have created a PR about this Issue https://github.com/openfaas/faasd/pull/74

[2020-05-30 09:19] alexellis commented on #73
Thank you @Hsiny, I've merged that change but there is one piece that you may have missed.

Could you cover this part?

[2020-05-30 10:23] Hsiny commented on #73
Hi, Alex, the `max_inflight` is alearde set to 1, and I check this config in other project(faas-nets,aas-swarm), the default value is 1 also.

[2020-05-30 10:27] Hsiny commented on #73
Hi , Alex , the `max_flight` for queue-worker  is already set to `1`, and I check this configuration item  in other projects(faas-swarm,faas-netes), the default value is `1`also.
Do I need to fine-tune this value? or just set the default value to 1 and let the user set it?

[2020-05-30 10:35] alexellis commented on #73
I think we should set it to 5 for faasd since it can't be changed without rebuilding

[2020-05-30 11:09] Hsiny commented on #73
I'm sorry, I should have discussed it with you in advance.
Do I need to change it in another PR？

[2020-05-30 11:14] alexellis commented on #73
Don't worry. Yes new PR please. I've merged your previous one.

[2020-05-30 12:22] Hsiny commented on #73
OK, PR is created, https://github.com/openfaas/faasd/pull/75

[2020-05-30 12:29] Hsiny commented on #73
Thank you very much. If there is anything else like this, please contact me. I would like to make some open source contributions

[2020-06-08 09:28] #73 closed

[2020-06-08 09:30] alexellis opened #81 "Update all guides and cloud-config.txt to use release 0.9.0"
## Description

We need a volunteer to update all the guides, terraform automation and cloud-config.txt to use the release 0.9.0

The assets are in this repo, so you shouldn't have too hard of a time finding stuff. Bear in mind we now have a dependency on docker-compose.yaml and that may need to be downloaded before `faasd install`.

Feel free to ask questions here.

The new cloud-config.txt will

[2020-06-10 20:03] alexellis opened #82 "Make services deterministic with docker-compose.yaml"
## Description

We should make the core openfaas services which are loaded deterministic. With the PR to introduce a docker-compose.yaml the services are parsed into a map which is non-deterministic meaning that the services can attempt to start in the "wrong" order and therefore fail.

This was reported by a user, and I've also run into it whilst updating the cloud-config.txt file

* The gateway

[2020-06-14 10:43] boemska-nik opened #83 "FAASD_MULTIPASS.md gist should be moved to main repo"
Opening this issue to go with the PR. Moving this gist into the docs dir of this repo should make it consistent with the rest of the README and docs. Gist has already been updated to point here.

Gist in question:
https://gist.github.com/alexellis/6d297e678c9243d326c151028a3ad7b9#file-faasd_multipass-md

[2020-06-16 08:28] alexellis commented on #82
@utsavanand2 please could you add a print statement after parsing and confirm here what you see? Does the order vary between restarts?

[2020-06-17 12:40] #82 closed

[2020-06-26 10:23] enkov opened #87 "How to set limits for functions faasd + containerd"
Hello!
How can I set limits for functions? I tried this
[code]

And this

[code]
And it doesn't work.

[2020-06-26 11:33] alexellis commented on #87
Hi it's not supported at present. A number of features will not be available in faasd.

What's the usecase you have with regards to the limiting and what would you expect to happen if that was exceeded?

[2020-06-26 11:40] enkov commented on #87
Hello!
I want to limit ram of function and if function exceed it, kill function. I thought it would work like in kubernetes, if limit reached OOM killer kills app.
And if I am right containerd can set limits.
Can You tell will it be available some day?

[2020-06-26 12:38] alexellis commented on #87
Once killed are you expecting it to be restarted?

What specific workload are you running right now? Also 1MB of RAM isn't that realistic, so I'm wondering if this is a genuine need or more because that's just what you expected? The answer will help us triage the request

[2020-06-26 13:00] enkov commented on #87
Once killed I expect what function will be restarted and can be called again because there can be different input data.
I want to start users code and want to limit it.
1MB RAM is a test example for testing limits. For the real workload, I will set bigger values for RAM.

[2020-06-26 13:15] alexellis commented on #87
Ok, got it. What are you specifically wanting to use faasd with at the present time?

[2020-06-26 13:21] enkov commented on #87
I need a solution that can run in kubernetes and on baremetal. After some research, I found that openfaas is the best solution because it can be deployed on baremetal with faasd.

[2020-06-26 19:17] alexellis commented on #87
OK I don't think I'm asking correctly or maybe you are not so keen to share - but do you have a use-case, if so what? (languages, usage of it, application, events, other requirements etc?)

[2020-06-26 19:32] enkov commented on #87
My use case is to let users start their scripts for some calculations.
Data for these scripts will come from different sources(database, queue).
And I don't know how good these scripts work with memory and I want to limit them, so one script will not use all available resources.
Most of the scrips will use python3.

[2020-06-28 12:08] boemska-nik commented on #83
Closed with [4423a53](https://github.com/openfaas/faasd/commit/4423a5389aca0bd9480f7a975440ac5b97b990ae) alongside #84

[2020-06-28 12:08] #83 closed

[2020-07-05 12:48] nicoschi opened #88 "Cannot push to Docker Hub"
Hi there, I'm testing faasd on a local Centos 7 virtualbox VM but I'm stucking on pushing the image after the build.

## Expected Behaviour
Image push on Docker Hub and function build

## Current Behaviour
Stacking on push to Docker Hub with the following error:
`error: failed to solve: rpc error: code = Unknown desc = server message: insufficient_scope: authorization failed`

## Steps to Reproduc

[2020-07-05 14:15] alexellis commented on #88
Despite you following a third-party blog post on using buildkit with faasd, this isn't an issue with faasd so we're going to need to close it out.

You can ask for help on OpenFaaS Slack though. Mehdi is also there, so you can ask him about his tutorial.

[2020-07-05 14:15] #88 closed

[2020-07-05 14:16] alexellis commented on #88
https://slack.openfaas.io

[2020-07-06 07:07] nicoschi commented on #88
The blog post wasn't from Mehdi but from you, maybe you read the first version of the issue:

https://blog.alexellis.io/building-containers-without-docker/#buildwithbuildkitstandalone

[2020-07-07 23:12] jbgh2 opened #89 "key_load_format error when running on Windows 10"
This is probably a problem with me not understanding how to use SSH keys on windows.
If so, please be gentle and point me in the correct direction.

## Expected Behaviour

Following the instructions on Windows 10 works

## Current Behaviour

I generate an SSH key using PuttyGen
(This is where I think I'm going wrong. I suspect the key isn't in the right place when ssh runs)
Copy the key into the c

[2020-07-19 23:48] tmiklas commented on #69
Reproduced accidentally...

Turned out that whatever I set timeout was hard set for 10sec.  Changing read/write timeout alone did not help (as per [OpenFaaS Troubleshooting](https://docs.openfaas.com/deployment/troubleshooting/)) but adding the following to `stack.yml`, shamelessly taken from [go-long example](https://github.com/alexellis/go-long/blob/master/stack.yml) solved it :-)

[code]

[2020-07-20 07:56] alexellis commented on #69
This issue doesn't apply anymore given the configuration with the compose file.

The timeouts need to "agree" between the function and the core services, there is a new tutorial for this: https://docs.openfaas.com/tutorials/expanded-timeouts/

[2020-07-20 07:56] #69 closed

[2020-07-24 15:48] Waterdrips opened #91 "Investigate when/why `openfaas-fn` is returned to the user (internal namespace)"
https://github.com/openfaas/faasd/search?q=FunctionNamespace&unscoped_q=FunctionNamespace
the function namespace `openfaas-fn` is used in fasd . However the resolver does not look like it can handle the function namespace being appended to the function URL (https://github.com/openfaas/faasd/blob/f09028e451e446b2e64d3f7ee6938506fa86804a/pkg/provider/handlers/invoke_resolver.go#L21-L39)

A user has

[2020-08-12 16:05] alexellis commented on #68
We will need a code sample to reproduce the error. Could you set up a repo please?

[2020-08-18 12:44] alexellis opened #94 "How do we reduce duplication of installation steps?"
How do we reduce duplication of installation steps?

All of the below, along with additional steps in https://github.com/jsiebens/rpi-faasd duplicate installation steps for containerd, CNI and other components / files:

https://github.com/openfaas/faasd/blob/master/docs/bootstrap/digitalocean-terraform/cloud-config.tpl
https://github.com/openfaas/faasd/blob/master/docs/bootstrap/cloud-config.tpl
h

[2020-08-18 13:14] jsiebens commented on #94
A centralized bash script could already be a step forward. Installing containerd will be the most interesting part, because it is not available for every architecture (like armhf, arm64)

When I was working on the images, I was thinking about a similar tool like `inletsctl` or `k3sup`, a lightweight binary to install faasd.

Something else I noticed when creating the images: although one can simpl

[2020-08-19 08:17] mehyedes commented on #94
Having a platform-agnostic way to install faasd would be great, and I don't see any better way than a bash script at this point. That would be a great way to improve the installation experience.

I also agree with @jsiebens regarding the installation steps. Would be better if one can get all needed files without cloning the git repo.

Something else crossed my mind, we always need to keep updating

[2020-08-19 20:38] jsiebens commented on #94
@LucasRoesler has already done some work on embedding the config assets -> #78

[2020-08-20 12:00] LucasRoesler commented on #94
It seems reasonable that `faasd` should know how to completely install itself.

Perhaps we can create a "staging" folder where all of the components need to install faasd are put. Then `faasd` can embed static assets and generate into this folder. Additionally, it can also have the download urls for the confirmed working dependencies, which it can also download into that folder.  The user can then

[2020-08-21 09:33] alexellis opened #95 "Customise hostname in terraform scripts"
## Expected Behaviour

I want to customise the hostname in the terraform scripts

## Current Behaviour

it's always `faasd`  + $DOMAIN

## Possible Solution

Extend the scripts - maybe @mehyedes or @Waterdrips would like to take this?

[2020-08-24 10:19] Waterdrips commented on #95
If any of our newer contributors wanted to have a go at this then:

This fixed `faasd` string needs changing to a variable, it can be defaulted to `faasd` to keep current functionality.

https://github.com/openfaas/faasd/blob/master/docs/bootstrap/digitalocean-terraform
/main.tf#L62

Then a test:
1) Test with not overriding the variable
2) Test with overriding the variable

Both test cases should

[2020-08-30 10:03] jsiebens commented on #94
I've created a first bash script to install faasd: https://gist.github.com/jsiebens/d623dee59da35f5f28c03b49f057a772
Tested on latest Raspois, Ubuntu 16/18/20, Debian 10 and CentOS 7/8

For Debian 10, I had to use containerd 1.3.7
On CentOS 8, the script is working, but I'm having some troubles with running faasd.

arm64 is not yet supported, because a version of containerd is not yet available fo

[2020-08-30 12:12] fundef1 opened #97 "insecure registry with faasd/faas-cli?"
## Expected Behaviour
I have a non-standard setup:
- faasd.lan: local faasd running on debian inside a proxmox container
- faas-reg.lan: local docker registry, the offical docker image
- WIN10: local faas-cli & docker running on windows 10 - Docker Desktop

i followed the hello-python guide.
- login to faasd via faas-cli on WIN10 - OK
- faas-cli new on WIN10 - OK
- build the image on WIN10 - OK
-

[2020-08-30 12:44] alexellis commented on #97
Hi,

On the whole we haven't spent any time on supporting insecure workflows, but "secure" workflows with TLS work seamlessly if you wanted to try that instead?

So the short answer is that I'm not sure (immediately) how you can force faasd into doing the wrong thing, but you can setup a valid TLS cert for your private registry in a few ways:

1) Put it on the Internet with inlets (long way) or wi

[2020-08-30 12:46] alexellis commented on #97
/set title: Feature request: insecure HTTP registries

[2020-08-30 17:44] fundef1 commented on #97
Hi, thanks for the quick reply and suggestions on how to move forward.
I'll probably follow the self-signed certificate route as that's easiest and most familiar to me.

since I asked this question i looked into containerd and found two inroads:
1. containerd allows http for registries via:
[code]
but I couldn't get that to work

containerd ctr command does support http through the plain-http swit

[2020-08-30 18:26] alexellis commented on #97
I don't think that there's an issue with faas-cli.

You can try hacking on the Go code here https://github.com/openfaas/faasd/blob/master/pkg/service/service.go

Syo you know where it fails in the code?

[2020-08-31 13:28] fundef1 commented on #97
Sorry if I wasn't clear. The behaviour so far is correct - faas-cli correctly catches/reports on the "expected HTTPS get HTTP".

 I'm not clear on whether it is faas-cli attempting to pull the manifest, or whether it is directing faasd to pull the manifest and faas-cli is simply reporting the error from faasd.
I'm not at all familiar with go. I couldn't determine at which point faas-cli/faasd choo

[2020-08-31 13:40] alexellis commented on #97
That's entirely your choice though. My advise is to use a secure public registry or apply TLS with one of the 4-5 methods given above.

[2020-08-31 15:07] fundef1 commented on #97
;-) Yes, yes, definetly not criticizing faasd. - I'm going to go the self-signed cert route.

I was only saying I'm going to try that first, try to get something up and running, before opening up a whole new rabbit hole messing with a language I don't know, in an ecosystem of faasd/faas-cli/docker-registry/containerd that I don't know.

[2020-09-01 19:29] fundef1 opened #98 "cannot retrieve logs from faasd"
connection from faas-cli to faasd is ok
login, version, deploy. describe seem to work fine:

[code]

## Current Behaviour
[code]

## Your Environment

* OS and architecture:
faas-cli on WIN10 / faasd on debian buster / proxmox container

* Versions:
[code]

containerd -version
```containerd github.com/containerd/containerd v1.4.0 09814d48d50816305a8e6c1a4ae3e2bcc4ba725a```

uname -a
```Linux faasd

[2020-09-03 14:39] alexellis commented on #97
I'm going to close this one out for now. It doesn't mean a hard no, it just means it's not top priority at the moment and that we've provided valid alternatives. Folks can comment here if it's important for their commercial use of faasd etc.

[2020-09-03 14:39] alexellis commented on #97
/add label: revisit

[2020-09-03 19:50] Waterdrips commented on #95
/close

done in #96

[2020-09-03 19:50] #95 closed, assigned to nobody

[2020-09-04 07:45] fundef1 commented on #97
I totally agree.
generating and installing a self-signed cert took less than 15 mins - the only thing that caught me out that faasd didn't pick up on it. a restart fixed that.
thanks for your help - I've got it up and running

[2020-09-05 15:30] LucasRoesler commented on #98
@fundef1 thank you for the report, unfortunately, I have been working on this already for the last couple of weeks. I have made some progress in #93, but not enough to actually close this.

One of the issues seems to be an unfortunate behavior where faasd code would try to read logs from the `journalctl` output _before_ `journalctl` had written any output. This is probably what you are seeing now

[2020-09-06 08:13] alexellis commented on #98
@LucasRoesler is right, there's something we're looking into that is making the CLI's logs feature fail in some circumstances.

Here's a workaround that you can use to access logs:

[code]

You'll need to run it over SSH or SSH into the faasd host to execute it.

[2020-09-06 08:15] alexellis commented on #87
Is this a multi-tenant environment then? I would be very careful of using faasd for that, since it has no isolation or way of blocking a container running as root (at present)

You may prefer openfaas on Kubernetes backed by gVisor or Kata containers. You'll also find the requests/limits there.

But, for anyone landing here: we will look into container limits for faasd. Contributions are welcome :

[2020-09-06 14:16] fundef1 commented on #98
Thanks for the update. Good to know it's not something on my end.

[2020-09-08 09:20] LucasRoesler commented on #98
@alexellis this is how I was debugging the issue up to the gateway

Update the gateway image to use  `docker.io/theaxer/gateway:508b17b6`, it is based on [this branch](https://github.com/openfaas/faas/compare/master...LucasRoesler:add-more-logproxy-logging?expand=1)

[code]

Deploy the branch version of `faasd`

[code]

Stop the faasd components and restart
[code]

and
[code]

Redeploy the functio

[2020-09-11 10:23] rienafairefr opened #101 "Panic when "null" labels are given in deployment"
## Expected Behaviour
Function is created :-)

## Current Behaviour
Function is not created :-(
faasd / faasd-provider shows a panic
[code]

## Your Environment

* OS and architecture:
deploying the functions through `terraform-provider-openfaas`, but the error is the same with direct API on the gateway
faasd is deployed on a digitalocean droplet with the cloud-config template https://raw.githubus

[2020-09-11 10:28] alexellis commented on #101
/set title: Error pulling from GitLab.com private registry

[2020-09-11 10:33] alexellis commented on #101
Hi @rienafairefr I'm not a GitLab.com user, but I wonder if they have any known issues with containerd? Until recently even [GitHub's registry didn't work with containerd](https://github.com/containerd/containerd/issues/3291) and faasd is built with containerd.

I am noticing that you have Go installed, and a really old version. Why is that? You don't need it to install faasd, but if you built it

[2020-09-11 10:36] alexellis commented on #101
One thing that stands out to me is how many `/` slashes you have in your image name. It could be an edge case where some part of the code is expecting a standard image URL i.e. `server.com/repo/image:version` (x3) instead of `registry.gitlab.com/**/**/**/address-modified:openfaas` (x5)

[2020-09-11 10:40] rienafairefr commented on #101
That might be the edge case I'm running into, and why I explicitely didn't redact that detail. In our case, it's a namespace thing for all our images:

registry.gitlab.com/company/project/functions/functiona

registry.gitlab.com/company/project/functions/functionb

registry.gitlab.com/company/project/serviceA
etc ..., because in gitlab you can create groups inside groups, etc, and the docker regis

[2020-09-11 10:40] MrSimonEmms commented on #101
@alexellis the number slashes look normal - GitLab allows you to have up to three levels on the container registry (which is very useful).

I'll have a dig around later today and let you know what I find

[2020-09-11 10:50] alexellis commented on #101
@rienafairefr can you try a top-level image to see if it still breaks that way?

[2020-09-11 10:54] rienafairefr commented on #101
the go version is the one on the droplet, i didn't install it myself. might be installed as part of the faasd cloud-config, not sure. Might be better to update all that, that's for sure

Weirdly, `faas deploy` seems to work (details below)

You're right, `secret` will be better, I'm still trying out ;-) I redacted the api_key, good catch !

Might not be about the image registry after all:

when th

[2020-09-11 10:57] alexellis commented on #101
So if `faas-cli deploy` works, it may make sense to raise an issue on the functions terraform provider, which is a third-party component.

I can help with the API call though. Can you share what you're writing into your curl statement? faas-cli deploy just creates a HTTP request, so I'm curious what's going show up here.

[2020-09-11 10:59] alexellis commented on #101
I suspect that the code handling something like labels may be expecting a value, where as the terraform provider is giving null instead.

[2020-09-11 11:02] alexellis commented on #101
/set title: Panic when "null" labels are given in deployment

[2020-09-11 11:08] alexellis commented on #101
I've found the cause of the issue - the last output and the JSON formatting helped with that.

PR #102 is up and when CI passes I'll release it.

For now, include a label in your terraform to get around the issue?

Alex

[2020-09-11 11:12] rienafairefr commented on #101
This closes the issue, adding a label works for deployment ! I chased the most obvious 'difference' in the private registry but that wasn't it. Thanks @alexellis

[2020-09-11 11:12] #101 closed

[2020-09-11 11:15] alexellis commented on #101
No problems. You may enjoy weekly updates on OpenFaaS including faasd and the other community projects via GitHub Sponsors - https://www.openfaas.com/support - click "Community Insiders Program"

[2020-09-11 11:25] alexellis commented on #98
I think this can be closed now. @fundef1 please can you retest? I'll reopen the issue if it's still a problem in the latest version

[2020-09-11 11:25] #98 closed

[2020-09-11 15:42] mrsimonemms opened #103 "Add Terraform scripts for bootstrapping faasd on AWS"
Using the existing DigitalOcean scripts as a basis, extend the bootstrapping to include AWS. This should replicate the existing DO infrastructure exactly, but not replace it . Existing functionality of #67 and #70 **MUST** be retained

# Expected Behaviour

A faasd installation with TLS support is provisioned on AWS when applying the Terraform plan

# Current Behaviour

No AWS support currently. E

[2020-09-11 15:43] MrSimonEmms commented on #103
Will look at doing this over the weekend (12/09/20). Other contributions welcome, although I have a fairly clear idea in my head how I will do this.

[2020-09-11 19:09] alexellis commented on #103
Sounds good to me

[2020-09-13 09:58] alexellis commented on #87
This code could be of use to us from Michael’s boss project. I can see a way to set a limit, but not sure if “requests” is a containerd or K8s concept. @AkihiroSuda do you know?

https://github.com/crosbymichael/boss/blob/bbbfd63bba42337c0dbfa073a14ac7e8d91bf525/opts/opts.go#L152

[2020-09-18 11:03] #47 closed

[2020-09-18 11:03] alexellis commented on #47
We used exec here, thank you @LucasRoesler for your work on the feature. Closing the issue.

[2020-09-18 11:05] alexellis opened #106 "Redirect core services logs to journalctl"
Redirect core services logs to journalctl

## Expected Behaviour

faasd should only show log lines for the output it prints, instead of for any containers it runs from the docker-compose.yaml file.

We should then be able to access the logs from journalctl in a similar way to how we do this for functions

## Current Behaviour

The logs are intermingled between faasd itself and the containers it's

[2020-09-18 11:24] #106 closed

[2020-09-18 11:55] alexellis opened #109 "Migrate to Go modules"
## Task

Migrate to Go modules

Dep is deprecated now, and go modules should be used with a vendor folder.

Use `go build -mod=dep` and be careful around the Docker / registry ecosystem as this can cause issues when moving over.

## Requirements

This PR must come from an existing contributor to the repo and must be tested.

If a PR is sent in from someone who hasn't read the above, it will probab

[2020-09-19 20:16] alexellis opened #111 "Publish a SHASUM during travis build for release binaries"
## Description

Publish a SHASUM during travis build for release binaries

See openfaas/faas-cli for an example

[2020-09-21 08:02] #87 closed

[2020-09-21 08:02] #109 closed

[2020-09-21 08:10] alexellis commented on #111
@Amalkh5 do you want to take this?

[2020-09-22 02:42] minlearn opened #113 "Support issue"
this results two problem:

1) cant resolve faasd-provider to 10.62.0.1(openfaas0 interface),corrected /var/lib/faasd/docker-composer then reboot,works,

or it keep hinting "error finding function xxxx.: Get http://faasd-provider:8081/system/function/xxxx?namespace=: dial tcp: i/o timeout"

2)cant resovle app container(above xxxx) ip to 10.62.0.xx,disable system ipv6 by updating grub cmdline with "

[2020-09-22 08:21] #111 closed

[2020-09-22 08:55] alexellis commented on #113
/set title: Support issue

[2020-09-22 08:56] alexellis commented on #113
Hi @minlearn thank you for your interest in faasd, please can you use the latest version which contains a feature to restart stopped containers like the one you mention above?

See: github.com/openfaas/faasd/releases

Alex

[2020-09-22 10:25] minlearn commented on #113
0.9.2

[2020-09-22 10:49] alexellis commented on #113
What does that comment mean?

<img width="1302" alt="Screenshot 2020-09-22 at 11 48 22" src="https://user-images.githubusercontent.com/6358735/93873460-a4b25c80-fcc9-11ea-887c-f4f774b2276d.png">

The version is 0.9.5

[2020-09-22 12:31] minlearn commented on #113
just tried 0.9.5,the experiences are much better

[2020-09-22 12:31] #113 closed

[2020-09-24 07:40] arthurlogilab opened #114 "functions deployed with openfaas on kubernets have cpu.request set to 1"
Maybe related to https://github.com/openfaas/faasd/issues/87  but since that issue is more about memory requests and limits, I'll open a new one

## Current Behaviour

On our kubernetes cluster where openfaas is used as well as other deployments, we've had the following problem : some nodes had a very high load, while other were very low (very visible when sending a bunch of CI jobs using gitlab-r

[2020-09-24 07:46] arthurlogilab commented on #114
Sorry, maybe this should be moved to https://github.com/openfaas/faas-netes/

[2020-10-06 08:02] alexellis commented on #94
Sorry I missed this. How about Caddy as a parameter override?

[2020-10-11 03:48] minlearn opened #117 "undefined: log.Writer when compiling faasd"
undefined: log.Writer when compiling faasd 0.9.5

git checkout 0.9.5
cd /src/github.com/openfaas/faasd,make local
the output:

[code]

## Your Environment

* OS and architecture:ubuntu 18.04,go 1.12.4

* Versions: faasd 0.9.5

[2020-10-11 08:07] alexellis commented on #117
Hi, thank you for your interest in faasd

I believe that your Go version is too old, please upgrade to 1.13 which we use and advise in the developer guide.

[2020-10-11 08:07] #117 closed

[2020-10-19 08:27] hivethought opened #119 "Is there support for the nats-connector in faasd?"
Hi,

Sorry if this is not the right place to ask this, but I was wondering if the nats-connector is supported in faasd? I managed to install and use the nats-connector (https://github.com/openfaas-incubator/nats-connector) on a "regular" openfaas deployment (installed with arkade on top of kubernetes - w/ kind), and was wondering if there is any support for running the nats-connector with faasd?

[2020-10-19 09:06] alexellis commented on #119
This is likely to be possible soon. I believe that you can go ahead and run the connector with systemd or by adding it to your docker-compose.yaml

The missing piece for the connector-sdk is in #86 - but we have a PR up for that and it should be merged soon.

Short answer: coming very soon, long answer above.

Alex

[2020-10-19 09:24] alexellis commented on #119
We have a release ready for testing -> https://github.com/openfaas/faasd/releases/tag/0.9.6

You can add the nats-connector to your docker-compose.yaml file, but at this stage, I would recommend you switch over to Slack for technical support.

[2020-10-19 09:24] alexellis commented on #119
/msg: slack

[2020-10-19 12:56] #94 closed

[2020-10-19 15:41] devries opened #121 "Review and modify git clone statements in scripts to only checkout the required code."
## Expected Behaviour

When performing a "git clone" operation as part of an installation. The entire
code history is not necessary, only the version requested should be checked
out saving bandwidth and disk space.

## Current Behaviour

There are [several instances](https://github.com/openfaas/faasd/search?q=git+clone) in the code that use "git clone".
These check out the entire repository, even

[2020-10-19 15:52] devries commented on #121
Please feel free to assign this to me. I wanted to keep the link for all the "git clone" statements for easy reference and to just track this so I remember to get back to it later this week.

[2020-10-21 09:38] alexellis opened #122 "Docs / strategy for an air-gapped faasd configuration"
## Expected Behaviour

We should provide docs for how to use faasd in an air-gapped configuration.

## Possible Solution

Ideas:

A) a mode for faasd and containers where containers are never pulled, and are assumed to be in the local library
B) instructions for mirroring to a local registry, and then updating the docker.io references to the local registry IP instead. This will probably have to ha

[2020-10-21 09:39] alexellis commented on #122
Rancher have an approach outlined for k3s here: https://rancher.com/docs/k3s/latest/en/installation/airgap/

[2020-10-21 09:57] Waterdrips commented on #122
Can docker-import be used to untar files on the host into images to avoid needing any registry https://docs.docker.com/engine/reference/commandline/import/#import-from-a-local-directory

then if pull policy is Never it should use the locally imported images

[2020-10-21 10:54] alexellis commented on #122
I think ctr has its own commands for importing images, however we are not using docker but containerd.

[2020-10-26 03:51] tbakker1982 opened #155 "[Feature Request] Deploying faasd in air-gapped systems"
Faasd has been installed and configured in a Ubuntu Server VM and deployed on a Cisco IC3000. During the development and installation period the Cisco Edge device has access to the internet but once deployed in the final setup, internet will not be accessible. This prevents faasd from, what I can only assume, correctly loading all the dependencies for the installed function. I have deployed a loca

[2020-10-26 21:06] eloo opened #124 "Docker compose file not working"
Hello,
i'm currently trying to get faasd running on my local machine for testing.
I'm trying to use the docker-compose file which is located in this repository but i'm having a bit trouble.

## Expected Behaviour
* faasd will be available by using the docker-compose file

## Current Behaviour
* nats container is having trouble to get started because of "command not found"

## Possible Solution
* n

[2020-10-28 16:03] alexellis commented on #124
Hi @eloo I'm not really sure what I can do to help here as faasd is working as expected for us.

What have you changed?

Can you say why you didn't follow our installation instructions we provide?

Alex

I'm going to close this out as technical support, feel free to join Slack and ask for help there. If there is a bug with the faasd deployment file, we will fix that (but I haven't been convinced t

[2020-10-28 16:03] #124 closed

[2020-10-28 17:13] eloo commented on #124
Hi @alexellis
my problem is that there is an docker-compose file located in your repository which is actually not working at all.
The NATS component can not run with the provided configuration.

I didn't follow your instructions because i couldn't anything for usage with docker.
If you would provide how the docker-compose file can be used this would be very helpful. Or if this file is just not usa

[2020-10-28 17:41] alexellis commented on #124
How are you installing faasd? Which tutorial are you following?

I would recommend either of the following:

* https://github.com/openfaas/faasd/blob/master/docs/MULTIPASS.md
* https://github.com/openfaas/faasd/blob/master/docs/bootstrap/digitalocean-terraform/README.md

Can you try one of those and confirm that it's not user-error?

Alex

[2020-10-28 17:48] alexellis commented on #124
@eloo sorry but I've just run through the full steps of MULTIPASS.md above and it worked fine without any issues.

To help us, help you, you'll need to use an official guide to install faasd, and then tell us anything important we need to know like what platform you're running on, and anything else that emight be important.

So just to confirm: there is no issue with docker-compose.yaml when using

[2020-11-10 22:25] derit opened #126 "Protect Maximum Limit Resource Nodes"
what about to mechanism to limit maximum resource per node?

for example i have a node with 4G RAM
and i can deploy a functions without have a notified when ram is 80% used?

my expectation, when ram was used 80% i want to protect nodes and disable deployment with message "system not have a resouce to deploying a function"

[2020-11-10 22:32] alexellis commented on #126
Are you wanting to use faasd? Or something else?

faasd supports memory limits per function, so use that.

[2020-11-10 22:32] #126 closed

[2020-11-10 22:33] alexellis commented on #126
Closing as a support request. Feel free to keep commenting here. Support is usually done by the community on Slack

[2020-11-10 22:33] alexellis commented on #126
/msg: slack

[2020-11-10 22:43] derit commented on #126
@alexellis  not per function this is about all resource in a instance server

[2020-11-10 22:46] alexellis commented on #126
You can do that with openfaas on Kubernetes which will stop scheduling. For faasd you can set individual limits, but I'm not sure what happens yet if you go over.

Why are you using faasd specifically? You do know that faasd is for a single host?

[2020-11-10 22:54] alexellis commented on #126
What workloads are you wanting to run?

[2020-11-10 23:23] derit commented on #126
of course, i know , in my case i want to protect my single node server with limit maximum container by current resource

[2020-11-11 10:48] alexellis commented on #126
Is this a theoretical nice to have or do you actually find this is an issue for you? Have you run into this yet?

It implies you may be running a service or automated deployments where you don't know how much you're going to need. Can you say what you're running?

[2020-11-11 13:21] derit commented on #126
yes, your are correct, in my case i don't know how much container to running in my single server, but i want to limit by maximum server resource, for example with autoscale mode

[2020-11-13 03:52] jakeczyz opened #127 "Bug in faasd multipass tutorial: basic-auth-password file described in tutorial is missing"
Hello.  In the faasd multipass tutorial here:

https://github.com/openfaas/faasd/blob/master/docs/MULTIPASS.md

In the final step prior to "Try faasd (OpenFaas)" the instructions call for reading the `/var/lib/faasd/secrets/basic-auth-password` file, however, the `/var/lib/faasd` directory is missing on the VM, and no such file exists.  E.g.

    root@faasd:~# find / -name 'faasd'
    /var/lib/clo

[2020-11-13 08:09] alexellis commented on #127
Hi I'm not sure what you're doing differently but I ran this a few days ago and it worked fine.

I'd suggest you look at your cloud init logs (/var/log/. Perhaps your network isn't working on your VM and couldn't execute the cloud init script.

I'm going to close the issue now as you didn't use the template and we can't reproduce the issue here. Feel free to keep commenting.

Alex

[2020-11-13 08:09] #127 closed

[2020-11-13 08:10] alexellis commented on #127
/set title: Support request for multipass tutorial

[2020-11-13 14:44] jakeczyz commented on #127
Whoops.  Looks like none of the cloud-init steps completed successfully.  Upon further investigation, it's my environment's security solution MitM'ing the SSL connections for inspection and causing curl's SSL cert check to fail.  Derp.   Sorry for the noise, and thanks for the rapid response (and the great work on OpenFaaS! 👍)!

[2020-11-13 18:01] alexellis commented on #127
No worries

You may enjoy my new walkthrough video on faasd https://www.youtube.com/watch?v=WX1tZoSXy8E&feature=youtu.be

I'd also suggest taking up the Community Insiders' Program. https://openfaas.com/support

[2020-11-13 18:01] alexellis commented on #127
/lock: resolved

[2020-11-20 09:46] Waterdrips opened #128 "Labels and annotations not correctly fetched every time"
I have a setup in faasd (On Rpi3) . Installed by cloning faasd (master) and running the install script in `./hack` directory

it has 2x functions, one has annotations, the other does not:

[code]

When i curl `/system/functions`
sometimes they both have the annotations set on `nodeinfo`
[code]
sometimes neither have the annotation

[code]
## Expected Behaviour

We always get the correct annotation

[2020-11-20 12:32] alexellis commented on #128
@AkihiroSuda do you have any suggestions? I visually inspected the code and it looked to be as expected.

Alistair perhaps we are not using a reference in a loop somewhere?

[2020-11-20 16:50] alexellis commented on #128
Here is an example of it happening for me:

[code]

The /system/function/NAME endpoint appears to be stable in its output:

[code]

[2020-11-20 18:23] alexellis commented on #22
We now have ./hack/install.sh and Terraform options

[2020-11-20 18:23] #22 closed

[2020-11-20 18:23] alexellis commented on #51
We have this now

[2020-11-20 18:23] #51 closed

[2020-11-20 18:23] alexellis commented on #63
We've gone over to Go modules, but the vendor directory should say.

[2020-11-20 18:23] #63 closed

[2020-11-20 18:24] alexellis commented on #66
@mdaniel are you still interested in helping with this? @vbatts do you have any opinions on a solution?

[2020-11-20 18:47] alexellis commented on #66
Happy to take a PR for that specific change, along with changes to the rest of the repo/terraform and bash.

[2020-11-20 18:48] alexellis commented on #66
Which paths are the offending ones?

I'd like to see: a list of possible solutions, and one preferred solution.

[2020-11-20 18:50] vbatts commented on #66
writing to systemd units to `/etc/systemd/system` should be a fallback here.
And while I thing the `/usr/local/bin` bind mount is ugly, it would be nicer to just fallback to `/opt/bin`

Other options could be overly mounts, but that feels like a one-off, like the bind mounting.
Here's a cloud-init that lays out a unit file to do an overlay https://gist.github.com/vbatts/705c2542df39495319c8601c01b

[2020-11-20 18:54] alexellis commented on #66
What is the ideal way we should deploy a binary and have some state when using Flatcar @vbatts? K3s will be similar in that it has an /etc/ folder and a /var/lib/ folder and a binary in /usr/local/bin/

[2020-11-21 12:30] jsiebens opened #130 "Add Caddy installation to the new install script"
Add Caddy installation to the new install script

## Expected Behaviour

The script `./hack/install.sh` installs every required component for running faasd.
It can be extended with optionally installing Caddy as wel.
With Caddy HTTPS comes out-of-the box, providing a secure installation of faasd

## Current Behaviour

No option available to install Caddy with the new install script.

## Possible S

[2020-11-21 18:07] oconnore opened #132 "Tutorial Problems"
I think all of the tutorials I've found are quite detailed and helpful for the use cases they describe. However, I've been having trouble installing faasd over the last few days -- probably because my install is slightly different (I'm trying to install on a vanilla ubuntu on AWS).

The best tutorial I've been able to find is for [installing lightweight services on a raspberry pi](https://blog.ale

[2020-11-21 18:15] oconnore commented on #132
I found those files in the repo and was able to make more progress  by cloning the repository:
[code]

[2020-11-21 18:21] oconnore commented on #132
`faasd-provider` was down after the install. Restarting it brought it back up, but the error message is still there

[code]

For some reason the service is not listening on the expected port:
[code]

[2020-11-21 18:37] oconnore commented on #132
Oh, I guess Ubuntu's version of containerd is broken?
[code]

Now the login command was able to work:
[code]

[2020-11-21 18:37] #132 closed

[2020-11-21 19:19] alexellis commented on #132
Why did you close the issue?v

For existing VMs you should just be able to run the install bash file.

[2020-11-21 19:47] oconnore commented on #132
@alexellis well, I was able to get the figlet demo running eventually. I think I did try to run the bash script earlier on, but I didn’t capture the output or why I thought it wasn’t working.

I’m very new to this, so I’ll let you be the judge of whether my initial confusion represents a documentation gap or if I’m just a confused newbie. If you do want to reopen, I’d be happy to help write someth

[2020-11-21 20:22] alexellis commented on #132
On AWS you can:
* use the cloud-init approach by providing user-data and our script
* use the Terraform option in #103
* provision an instance with Ubuntu 16/18/20 and then log in, clone the repo and run `./hack/install.sh`

If any of those can be proven to be broken workflows, we need to know and have a reproducible issue so we can get it sorted out.

[2020-11-21 20:44] oconnore commented on #132
@alexellis ok thanks, I will check these out and reopen if I can reproduce it again.

[2020-11-23 10:29] Waterdrips commented on #128
/close

[2020-11-23 10:29] #128 closed

[2020-11-25 16:17] jannikMetzner opened #133 "Nvidia runtime for functions in faasd"
I'm trying to run a function in the nvidia runtime. I tried configuring containerd with the config.toml file. Running ```sudo ctr run --rm --gpus 0 docker.io/nvidia/cuda:9.0-base nvidia-smi nvidia-smi``` works. I'm new to faasd, so I don't quite know where the function actually runs. Can someone please provide me with some background information?
My current assumption is that faasd spawns a new co

[2020-11-27 14:48] alexellis commented on #133
We are not Nvidia owners and don't have access to hardware, so you'll need to help us to help you.

How about linking us to whatever documentation it is that you're following?

Have you tested your docker image elsewhere to know if works? You should also link us to the code you're using and show how you've proven it works with containerd.

[2020-12-01 16:01] Waterdrips commented on #119
/close

I *think* this is possible now

[2020-12-01 16:01] #119 closed

[2020-12-01 20:17] alexellis commented on #119
Yes it is possible, an example was shared on openfaas Slack when I invited you on Oct 19th.

[2020-12-03 08:54] alexellis opened #134 "Allow functions to resolve the core services"
## Expected Behaviour

Functions should be able to resolve the core services via name, such as `gateway`

## Current Behaviour

They cannot because the provider has its own /etc/hosts file which is separate from the main faasd process.

## Possible Solution

Have the faasd process write the hosts file for the faasd-provider process, or have faasd-provider read from the faasd file.

## Steps to Rep

[2020-12-03 09:12] alexellis opened #135 "[Feature"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* OS and architecture:

* Versions:

[code]

[2020-12-04 11:11] rata commented on #66
@alexellis sorry for the late response. Not sure I understand your question, `var/lib/` and `/opt/bin/` can be used for those things. But that was mentioned and I guess you are asking because that doesn't work? If you need more stuff, usually a container is the way to go.

[2020-12-07 17:55] spekulatius opened #136 ""Content-Type" environment variable not working as expected with classic watchdog"
Hey @LucasRoesler

Function using the PHP template. The template doesn't allow to return a content type. As a work around it's been set in the yml file:

[code]

But this doesn't work when data is posted. It ignores the environment config and uses the header instead.

## Expected Behaviour

All requests should use the environment variable and return `Content-Type: application/json` as a header.

#

[2020-12-07 18:00] alexellis commented on #136
The quickest repro for this is `faas-cli store deploy figlet -e content_type=application/json`

On Kubernetes we get a hard-coded application/json response for every request.
On faasd it's whatever the input content-type was, echoed back.

I was able to rule out the gateway and watchdog by running the watchdog in Docker and by calling the provider directly on port 8081 instead of calling the gatew

[2020-12-08 08:35] alexellis commented on #136
0.9.10 still has the issue (as expected):

[code]

[2020-12-08 08:37] alexellis commented on #136
Deploying `env` to see what the container sees:

[code]

Curling with data from curl:

[code]

[2020-12-08 08:37] alexellis commented on #136
Curling the container directly, bypassing the provider and gateway:

[code]

[2020-12-08 08:40] alexellis commented on #136
/set title: "Content-Type" environment variable not working as expected with classic watchdog

[2020-12-10 16:02] #136 closed

[2020-12-11 13:41] #133 closed

[2020-12-11 13:41] alexellis commented on #133
Closing as inactive.

[2020-12-20 21:05] #130 closed

[2020-12-23 13:53] Lewiscowles1986 opened #141 "Migration of terraform from 0.12 to 0.14 documented"
Currently the DigitalOcean OpenFaaS terraform only works with 0.12.

0.13 and 0.14 are possible without operator expertise, if a specific set of commands is run, in specific situations.

While terraform administrators may know to run these commands; what to run. People coming in from blogs may not be professional administrators and are likely to make noise in Github, twitter, etc.

## Expected Beh

[2020-12-25 12:39] vielmetti opened #144 "hack/install.sh on arm64: error undefined symbol: seccomp_api_get"
## Expected Behaviour

On an arm64 system, hack/install.sh should just work.

## Current Behaviour

When running `containerd`, you get this error message

```error undefined symbol: seccomp_api_get```

## Possible Solution

Get a newer version of libseccomp2 and libseccomp-dev from buster-backports, a la

https://github.com/containerd/containerd/issues/3871#issuecomment-741661018

## Steps to Repr

[2021-01-13 10:54] hunzikerj opened #148 "Cannot install faasd using hack/install.sh script"
## Expected Behaviour
Script should install faasd. Version should be parsed correct.
[code]

## Current Behaviour
Script fails because the version fetch request is not parsed correct.
[code]

## Possible Solution
It seems to be the same problem as [faas-cli #856](https://github.com/openfaas/faas-cli/issues/856)

## Steps to Reproduce (for bugs)
Run install script as recommended in readme.md.
[code

[2021-01-13 14:37] alexellis commented on #148
This is related to issue https://github.com/openfaas/cli.openfaas.com/pull/6

We can produce a fix for this relatively quickly, or you can use an alternative method of installation like Terraform.

[2021-01-13 14:37] #148 closed

[2021-01-17 19:29] alexellis opened #149 "Error in CI with faas-cli logs"
There's an error that's failing the CI when `faas-cli logs` is run.

[code]

I added a journalctl call to fetch the logs separately, and they are present:

[code]

So the issue appears to be related to timing or a race condition. `faas-cli logs figlet` is not working as expected in CI, but does work when used by end-users in normal use.

[2021-01-17 20:09] LucasRoesler commented on #149
I created a branch to investigage and the first run  passed, but the second run had this interesting bit

[code]

https://github.com/LucasRoesler/faasd/runs/1717867383?check_suite_focus=true

The take away is that the CLI _did_ get logs the first time but when piped to the `grep Forking` it failed. I think, that if we want to debug this we need a better test suite, ideally in Go. We can still exec

[2021-01-17 20:24] LucasRoesler commented on #149
Alternatively, we could use the provider here, since it is testing the same things

[2021-01-20 16:59] viveksyngh opened #150 "Update version/info endpoint to use updated struct"
Update version/info endpoint to use updated struct (ProviderVersion) from faas-provider

## Expected Behaviour

version/info endpoints should use updated struct from faas-provider

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* OS and architecture:

* Versions:

[code]

[2021-01-23 15:48] viveksyngh commented on #150
/derek close

[2021-01-23 15:48] #150 closed

[2021-01-24 12:25] #68 closed

[2021-01-24 12:25] #67 closed

[2021-01-24 23:39] pingberlin commented on #122
@Waterdrips `ctr` uses `ctr image import`.

To use on an airgapped system:
1. Set `pull-policy` in `/usr/lib/systemd/system/faasd-provider.service`:
[code]
2. Build with `docker`, import with `ctr` (and don't forget to use the `openfaas-fn` namespace):
[code]
3. "Up" your setup:
[code]

---

Troubleshooting:
* Check your images with: `ctr -n openfaas-fn i ls`
* Check your `stack.yaml` to include t

[2021-01-26 12:33] alexellis commented on #122
@pingberlin would you be open to writing up a short step-by-step blog post on this?

What about the initial installation and deployment of faasd and its containers in docker-compose.yaml?

[2021-01-27 21:25] alexellis commented on #134
For anyone landing here - the ebook referenced in the README has detailed examples for this, effectively for the time being it's best to use the IP of `openfaas0` which is a stable IP of: `10.62.0.1`.

[2021-01-29 10:45] amongil commented on #122
I am currently struggling with this as I have to install faasd in an air-gapped server (banking industry). @pingberlin, if you could give some more insight on how you managed to first do a complete installation and then keep it runinng, I'll try to mirror on my end and then I can offer my help on testing and writing the docs, @alexellis .

[2021-01-29 14:11] alexellis commented on #122
@amongil we will probably get to this eventually, but can't make any guarantees. OpenFaaS Ltd does offer paid consulting if you need it sooner and I'm sure we could help through a small project. Feel free to email contact@openfaas.com if that's of interest to you.

[2021-01-31 09:45] #155 closed

[2021-01-31 09:45] alexellis commented on #155
Closing as a duplicate of #122

[2021-01-31 11:57] nitishkumar71 opened #156 "Update Gateway Image Version to ghcr.io/openfaas/gateway:0.20.7"
Gateway Image version need to be updated to 0.20.7
## Expected Behaviour

Fassd should work appropriately
## Current Behaviour

Fassd should work appropriately

[2021-02-01 10:31] #156 closed

[2021-02-13 22:23] Sopor10 opened #160 "cloud-init installation on Hetzner Cloud fails"
The Ubuntu 20.04 Image on Hetzner Cloud does not have git preinstalled.

## Expected Behaviour
Add git to packages
[code]

## Current Behaviour
cloud-init fails on
`git clone --depth 1 --branch 0.10.2 https://github.com/openfaas/faasd`

## Your Environment

* OS and architecture:
Ubuntu 20.04 amd64 on Hetzner Cloud

[2021-02-13 22:26] alexellis commented on #160
Happy for you to send a PR for this. Thanks for letting us know.

[2021-02-15 11:37] #160 closed

[2021-02-17 22:03] albertkohl-monotek opened #162 "net.ipv4.conf.all.forwarding error"
## Expected Behaviour
On Ubuntu 18.04, /hack/install.sh should run with out any issues. however it fails to set ip forwarding properly.

## Current Behaviour
line # 192 in install.sh throws the error:
sysctl: permission denied on key 'net.ipv4.conf.all.forwarding'

## List all Possible Solutions
Current line Read: /sbin/sysctl -w net.ipv4.conf.all.forwarding=1
update to: $SUDO /sbin/sysctl -w net.

[2021-02-17 23:07] alexellis commented on #162
Would you like to send a PR?

If it's not working then perhaps it's not necessary?

Cc @jsiebens (script author)

[2021-02-17 23:59] albertkohl-monotek commented on #162
just submitted it. hopefully it helps someone else who ran into the same issue i did. :)

[2021-02-18 10:01] alexellis commented on #162
(You should reference the PR here, all I can see is the commit referencing it.)

[2021-02-18 10:02] #162 closed

[2021-02-18 13:57] wschenk commented on #119
I was looking for this example but slack i think doesn't keep the messages around.  I found a twitter post of a screenshot that I'm trying to work through, but i was wondering if it was documented anywhere.

[2021-02-18 16:03] jastabile-old opened #164 "Support issue for RHEL 7.9"
After installing faasd with ./hack/install.sh command i am trying to login to the gateway with:
```cat /var/lib/faasd/secrets/basic-auth-password | faas-cli login -s```

faasd is running well. These are the output logs:
[code]

## Expected Behaviour
Successful login

## Current Behaviour
[code]

## Context
On premise server allowing outgoing and incoming connections

## Your Environment

* OS and

[2021-02-18 16:07] alexellis commented on #164
Hi thanks for your interest. We cannot provide technical support for Red Hat Enterprise Linux Server, but you may be able to reach out to your support rep at Red Hat, or use a distribution that we can install and test ourselves.

The community uses Ubuntu Linux, are you able to use that instead?

With regards to the logs you shared, when you say "faasd is running well", I do wonder if that's corre

[2021-02-18 16:12] alexellis commented on #164
/set title: Support issue for RHEL 7.9

[2021-02-18 16:14] jastabile commented on #164
@alexellis thank you for your answer
These are the outputs:
[code]
[code]
[code]

[2021-02-18 16:21] alexellis commented on #164
So instead of 127.0.0.1:8080, try `http://10.62.0.10:8080`

It does seem like your networking isn't configured correctly because of the lack of inter-container communications. Do you have ip forwarding / NAT enabled?

Could you answer my previous questions please re: a supported distro?

[2021-02-18 16:42] jastabile commented on #164
Sorry, i didn't realized about the question.
It is a clean client's server, i cannot use another distro.

I agree, it seems like networking problems, but I cant figure it out.

Another tests:
[code]
[code]

I am pretty sure there is a NAT but external from this server. This server is recently bought and is clean. The only thing i installed is faasd and dependecies

[2021-03-18 15:17] doowb opened #170 "Intermittently fails to create proxy to service in docker-compose.yaml"
## Expected Behaviour

Services specified in `/var/lib/faasd/docker-compose.yaml` with a mapped port are started and exposed on the host system via a proxy.

## Current Behaviour

Most of the time, the services are exposed successfully, but sometimes the proxy fails with the following error (seen in `journalctl -u faasd --no-pager`):

[code]

In this case, the IP is for the correct service, and th

[2021-03-18 20:29] alexellis commented on #170
Hi Brian,

Thanks for the report.

Can you give the YAML file or diff for the `In this case` where you mention port 8082?

Can you share the specific services, because it may look generic, but be specific to timing/application.

What do you do, in order to see the error? Is it when you attempt to access the "added" service on port 8082 that you see the error, or just when the faasd service restart

[2021-03-18 22:21] doowb commented on #170
I'll try with `figlet` and maybe some other services, since it's not always happening.

It's happened for different things, the most recent was `grafana` exposed on port `3000:3000`.

In the `grafana` case, I had already added it and had a browser window open. The error occurred after restarting `faasd`, which I'm assuming was because the `grafana` client made a request while `faasd` was still sta

[2021-03-19 16:15] alexellis commented on #170
What happens when the service has started properly and you try accessing Grafana again?

[2021-03-22 15:15] doowb commented on #170
Sorry for the delayed response, I've been attempting to consistently recreate the issue.

I believe the services are eventually starting properly, every time, since I can access them through their direct IP and port. I see the error when attempting to access the services through the port on the "localhost" IP and the proxy is unable to make the connection.

I attempted reducing the custom services

[2021-03-29 08:41] yuxiaoba opened #171 "How to scale the function replicas to zero?"
[code]

[2021-04-08 11:36] jjnp opened #173 "Support pacman based distros such as Arch/Manjaro in the install script"
## Expected Behaviour

When installing faasd using the install srcript at `hack/install.sh` on a Linux distribution that uses `pacman` as the default package manager the installation should succeed.
## Current Behaviour

Currently the script terminated with an error message saying that it cannot install on this OS, because neither `apt-get` or `yum` could be found.
## List all Possible Solutions

[2021-04-08 11:36] jjnp commented on #173
Full disclosure: I already applied the recommended changes. A PR is coming as soon as I get around to formatting it according to the guidelines.

[2021-04-09 17:59] dsrowell commented on #69
I wanted to leave this in case someone else gets here attempting to use long function execution specifically with **faasd** (which I love). In addition to adding the *_timeout values to the /var/lib/faasd/docker-compose.yaml and the function's yaml file, I had to create the following file:

```/etc/systemd/system/faasd-provider.service.d/override.conf```

with the following contents:

[code]
to bu

[2021-04-15 12:31] dsrowell opened #174 "Make dns nameserver configurable"
## Expected Behaviour
I need the ability to resolve names internal to my organization, so I want to be able to override the nameserver used for dns resolution.

## Current Behaviour
Currently the /etc/resolv.conf file inside a function is hardcoded to contain "nameserver 8.8.8.8".

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List all

[2021-04-15 15:15] alexellis commented on #174
Hi @dsrowell thanks for your interest in faasd.

Can you tell us what organisation this is for?

I can't tell you when or if we would get to this, but a workaround for you may be to use a small HTTP proxy like squid, running on the same host as faasd. [If you've purchased the eBook](https://gumroad.com/l/serverless-for-everyone-else), then you'll learn how to add core services, squid would just be

[2021-04-19 09:38] motion-x opened #175 "Error creating task: OCI runtime create failed: runc did not terminate sucessfully: unknown"
I have installed FAASD on a Pi 3 using the `hack/install.sh` script. When checking the output log with `journalctl -u faasd --lines 100 -f` I see the following error:

[code]

[2021-04-19 09:53] alexellis commented on #175
Hi @motion-x thanks for your interest in faasd.

I would like you to take a moment to fill out the whole issue template and not to delete the fields we ask for.

That'd be much appreciated.

You may also want to use Raspberry Pi OS (32-bit) as that's what we use to test on.

https://raw.githubusercontent.com/openfaas/faasd/master/.github/ISSUE_TEMPLATE.md

[2021-04-19 09:53] alexellis commented on #175
/add label: invalid

[2021-04-21 08:25] jhult commented on #164
@jastabile, I was bumping into a similar issue on Oracle Linux (RHEL-compatible distro).

Running this command fixed the issue for me:

`sudo firewall-cmd --zone=trusted --add-interface=openfaas0`

[2021-04-21 18:40] jastabile commented on #164
Thanks @jhult. I will try it next time. But for this case I resolved it deploying in k3s

[2021-04-28 15:50] alexellis commented on #141
@Waterdrips could you take over this and move us up to 0.15.0?

When done, let me know so I can update existing tutorials and resources.

[2021-04-29 14:17] jackrod opened #176 "[Feature request] Custom DNS server address"
## Expected Behaviour
Allow nameservers to be specified in config or as a replacement file.

## Current Behaviour
Currently the nameserver is hardcoded and does not work in my environment

## Are you a GitHub Sponsor (Yes/No?)
- [ X] No

## List all Possible Solutions
*Use a file template for nameserver
*Allow a configuration to set the nameservers

## List the one solution that you would recommen

[2021-04-29 20:01] alexellis commented on #176
Hi @jackrod, thanks for your interest in OpenFaaS.

Please can you fill out the whole issue template?

[2021-05-10 12:42] jackrod commented on #176
Thanks Alex!

[2021-05-19 16:17] alexellis opened #177 "Populate the memory limits of functions in the REST API"
## Expected Behaviour

When users list or query functions from the REST API, then the memory limits set on the functions should be returned in the JSON response.

## Current Behaviour

They are being accepted upon deployment, but not being populated when querying.

## List all Possible Solutions

Try to read back from the task or container definition.

Update here:

https://github.com/openfaas/faa

[2021-05-19 17:39] developer-guy commented on #177
I would like to do that, if no one wants to 🙋🏻‍♂️

[2021-05-25 01:31] jackrod commented on #176
I did it! I think?

[2021-06-01 14:29] kmpm opened #179 "Stopping faasd and faasd-provider does not release the faasd binary"
When trying to upgrade faasd on my RaspberryPi I stopped faasd and faasd-provider using systemctl. The services are stopped but a process is still using `/usr/local/bin/faasd` which is the binary used to run faasd.

## Expected Behaviour
When I stop `faasd.service` and `faasd-provider.service` I expect to be able to replace/upgrade faasd as described in the book.
I cant replace `/usr/local/bin/faa

[2021-06-04 11:14] kmpm opened #181 "Can not override nameserver that faasd-provider configures"
The faasd provider command creates a `resolve.conf` file for all functions that points to `8.8.8.8` for name resolution services.
I have a ordinary Windows PC (yes windows only) that is running a instance of Microsoft SQL Server Express for some stuff I have. That PC gets shutdown on a daily basis and will sometime get a new IP when getting back online.
Using my local router that provides DNS serv

[2021-06-10 12:36] sidharthramesh commented on #119
I am looking for an example too. Is there anything available right now?

[2021-06-11 08:18] sidharthramesh commented on #119
This project seems to use nats-connector with faasd: https://lucasroesler.com/posts/2021/event-driven-faasd-with-postgres/
Youtube link: https://www.youtube.com/watch?v=nGOZLOjg5Zs

[2021-06-23 08:18] sidharthramesh opened #182 "Container cannot bind to port 80 and 443"
Excellent project here. Just read the book 'Serverless for Everyone Else' and trying to integrate my project into faasd.

## Expected Behaviour

Additional container in `/var/lib/faasd/docker-compose.yaml` should be able to bind to port 80 and 443.

## Current Behaviour

I have caddy running inside a container along with the other faasd services:
[code]
Caddy is unable to bind to port 80, or any o

[2021-06-23 11:08] DanielHabenicht commented on #134
Until this is merged I can highly recommend: https://willschenk.com/articles/2021/setting_up_services_with_faasd/

[2021-06-23 12:17] Aschen commented on #124
@eloo

I had to replace the definition of the `nats` service in order to make it work:

[code]

[2021-06-24 05:43] Aschen opened #183 "Support request for custom configuration"
## Expected Behaviour

Running faasd by using the `docker-compose.yml` file should allows me to list functions.

[code]

## Current Behaviour

Trying to list functions (and any other API action) returns a 502 error:
[code]

In Docker-compose logs I can see I failing call to a local DNS `dial tcp: lookup faasd-provider on 127.0.0.11:53: no such host`

[code]

## Are you a GitHub Sponsor (Yes/No?)

[2021-07-12 18:01] alexellis commented on #182
Hi, thanks for your interest and for supporting the eBook.

I'm looking at the book now and it tells you to run Caddy on the host, using systemd, perhaps you should do that?

WRT to port 80 and 443, is your Caddy container running as root? Often root is required to bind high ports, that or you may find another configuration option.

Alex

[2021-07-12 18:01] #182 closed

[2021-07-12 18:23] sidharthramesh commented on #182
Hey @alexellis. Yes the book suggests running caddy through systemd. I am doing that, however I have a case where things will be simpler if caddy can run as another service defined in the faasd docker-compose file.
Since faasd is orchestrating and taking care of running the containers, should I run faasd as root? Or do I change the user id of the caddy container to root?

[2021-07-12 18:55] sidharthramesh commented on #170
I had a very similar problem and I was able to reproduce it if all these conditions are met:

1) The service is mentioned in `docker-conpose.yaml`.
2) The service has an external port X mentioned.
3) The service takes some time to initialise.
4) The service is called on the external port X before the service finishes initialising.

This always seems to cause this error.

[2021-07-12 19:03] alexellis commented on #182
Glad that it's working as designed.

You would need to set the user for the container, correct. That's explained in the compose section of the book, but I'm saying that it's not what's been tested and prescribed.

So when you say "it's easier", I think you're proving that it isn't. Can you explain why installing two systemd unit files is harder than one?

We actually do this in the terraform if yo

[2021-07-12 19:35] sidharthramesh commented on #182
@alexellis fair enough. Yes, it's currently more complicated to setup, agreed. But in my situation I'm making requests to the caddy admin API from the other services within the docker-compose. This includes Prometheus for metrics. I don't really want to expose the admin port on 127.0.0.1. It just doesn't "feel clean" using systemd and installing caddy and exposing the admin port globally.

Thank y

[2021-07-12 22:08] markopolo123 opened #184 "Caddy does not start using systems"
Systemd cannot start the caddy service.

## Expected Behaviour
Systemd should be able to start the caddy service when installed using hacks/install.sh

## Current Behaviour
[code]

Moving versions resolves this.

## Are you a GitHub Sponsor
Yes

Check at: https://github.com/sponsors/openfaas
- [ x] Yes
- [ ] No

## List all Possible Solutions
Update caddy version

## List the one solution that you

[2021-07-13 09:50] alexellis opened #186 "Feature: insecure non-TLS registry support"
Add support for insecure non-TLS registries

Why? It seems like commercial users are unsure how to configure self-hosted registries with TLS, and have requested this feature several times.

## Expected Behaviour

faasd-provider can pull images from an insecure registry with no TLS such as localhost:5000 or 192.168.0.101:5000

I would expect a new flag to be set on the faasd provider command: https

[2021-07-13 09:53] alexellis commented on #184
Thanks for the PR @markopolo123 - I also left a note for you on the PR.

[2021-07-13 13:29] #184 closed

[2021-07-13 13:30] alexellis commented on #179
Hi, thanks for your interest in faasd.

How long are you waiting here? faasd takes a while to clean up resources, so it doesn't exit immediately.

Alex

[2021-07-13 13:31] alexellis commented on #179
/add labels: support,question

[2021-07-13 13:45] alexellis commented on #183
Hi there, thanks for your interest in OpenFaaS.

Is there any reason why you're customising docker-compose.yaml and does it work on your system if you don't change anything? It works well for many others, so I wonder what the issue is here?

I can see that you're not a sponsor, so it may be worth considering as we enjoy supporting those who also support us.

Alex

[2021-07-13 13:45] alexellis commented on #183
/set title: Support request for custom configuration

[2021-07-13 13:46] alexellis commented on #176
Thanks for following the contribution process, if we had started there, it might have meant getting to this point a little sooner.

Why is that? Can you help us understand so we can triage this?

Alex

[2021-07-13 13:46] alexellis commented on #176
/set title: [Feature request] Custom DNS server address

[2021-07-13 18:08] Aschen commented on #183
Hi @alexellis

I was unable to run the docker-compose.yml file without modifying it.

We were experimenting OpenFaaS but I think it's too early for us. We may try again later when our product will be more mature.
At this point we may consider sponsorship.

[2021-07-13 18:15] alexellis commented on #183
You may prefer using OpenFaaS itself on Kubernetes instead of faasd. The functions work the same, but Kubernetes has many many configuration options..

Sponsorship starts at 25USD/mo. Of course we could also talk about support or consulting to get you started. You'll find details on the website openfaas.com/support

[2021-07-14 13:56] Aschen commented on #183
Actually the biggest issue for us what the difficulty to integrate OpenFaaS into a CI process.
Can you just tell me if it's possible ? If we can solve this then we will seriously consider integrating OpenFaaS to our IoT Platform

[2021-07-30 17:57] mohammadVatandoost opened #191 "Cancel proxies when receiving sigint/term"
## Expected Behaviour

when receive SIGTERM or SIGINT, close the proxies socket in `func (p *Proxy) Start() error`
This also commented as ToDo in code
## Current Behaviour

It does not close the sockets before shutting down
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## List all Possible So

[2021-08-01 09:21] alexellis commented on #191
Hi @mohammadVatandoost you'll need to fill out the whole issue template, this isn't sufficient for someone to take a look.

[2021-08-06 16:28] tomaswarynyca opened #192 "Possibility of installing under Alpine"
## Expected Behaviour
Is there a way to install everything under Alpine?
I ask so that I don't have to use ubuntu
Something smaller to get more out of it
Will it be possible to remove the systemd requirement?

## Are you a GitHub Sponsor (Yes/No?)
- [x] No

[2021-08-09 11:32] alexellis commented on #192
Hi @tomaswarynyca you'd need to fill out the issue template if you'd like support.

[2021-08-11 07:34] alexellis opened #193 "Update terraform scripts to latest version"
## What needs to be done

Update terraform scripts to latest version and retest that they work as expected.

## Context

We're trailing behind several versions, and once we get to v1.0 - apparently, there are fewer backwards compatibility issues expected between minor releases of terraform.

https://github.com/openfaas/faasd/tree/master/docs/bootstrap

https://www.openfaas.com/blog/faasd-tls-terra

[2021-08-11 09:32] dirien commented on #193
Got this one #194

[2021-08-11 18:33] nitishkumar71 opened #195 "Add Support of Multiple Namespace"
As of now user can not create multiple namespaces to organize different applications as per namespace in faasd. All the functions get created inside `openfaas-fn` only which is default namespace.
## Expected Behaviour

We should be able to do all below operations using faas-cli
1. Deploy functions in different namespace as well as in default namespace `openfaas-fn`
2. List functions deployed in di

[2021-08-12 05:35] tomaswarynyca commented on #192
Hi @alexellis thanks for replying
I have just updated the description
I see that faasd is closely linked to systemd
My question is whether it is possible to take an alpine and install faasd there

[2021-08-12 16:50] shrike71 opened #197 "Trying to run ./hack/install.sh results in curl: (60) SSL certificate problem: unable to get local issuer certificate"
After downloading, trying to run ./hack/install.sh
results in an error

`curl: (60) SSL certificate problem: unable to get local issuer certificate`

on an Ubuntu 21.04 VirtualBox guest.

The curl command works as expected with other https sites.

## Expected Behaviour
[code]
faasd outputs intallation process and  faasd is installed

## Current Behaviour
[code]

## Are you a GitHub Sponsor (Yes/No

[2021-08-12 17:17] danlmyers commented on #181
@alexellis To expand on the use case as I ran into this issue while trying to do a proof of concept for my company skytap.  Basically we are trying to see how well openfaas in its entirety would work and decided to use Faasd to be able to dive right into it a bit to see how well it was going to work.  Essentially though I need to be able to interface with a lot of internal services by their DNS na

[2021-08-15 09:58] shrike71 opened #198 "BASH faasd instance - exec: "docker": executable file not found in $PATH when deploying test script"
## Expected Behaviour
Following book 'SERVERLESS FOR EVERYONE ELSE' with faasd. Managed to get to page 20, 'Your first JavaScript function' with no problems. The installation is bash based on a VirtualBox VM detailed below.

Trying to run

`faas-cli up -f starbot.yml`

and expect to see:

[code]
## Current Behaviour

[code]

I get that you're not supposed to install a separate docker/containerd en

[2021-08-16 06:59] alexellis commented on #198
You need docker on your machine and don't build functions on the faasd server. This should all my covered in the ebook.

Build your functions on your own computer with docker and set the gateway IP to your faasd server.

Thanks for you support.

[2021-08-16 06:59] #198 closed

[2021-08-16 08:42] shrike71 commented on #198
I get that if building functions through a normal CI/CD or dev operation,
you should build the functions elsewhere, as specified in your book on page
6, chapter 2.

However, I was just working through your tutorial on page 20/21 "Your first
JavaScript function"`. Up to and until this part

the documentation didn't seem to make a differentiation (I was assuming
just for learning purposes) between a

[2021-08-18 11:18] alexellis commented on #198
It's covered here at the beginning of the book:

[code]

[2021-08-18 11:22] alexellis commented on #197
The download is working fine here. I'm going to close the issue and assume that it is something specific to your environment.

We advise new users to make use of multipass or a cloud VM on a developer cloud, these are known configurations and work as expected.

[2021-08-18 11:22] #197 closed

[2021-08-29 11:12] Shikachuu commented on #192
Hey @tomaswarynyca

Currently without any modification, even the install process will fail.
Currently faasd will only run on systems that runs systemd.

About Alpine, first you need to make some changes to run containerd. [Rancher has a nice guide for it.](https://rancher.com/docs/k3s/latest/en/advanced/#additional-preparation-for-alpine-linux-setup)

Then you most probably need to somehow address

[2021-08-29 13:49] krishnasaga opened #200 "adding new stateful services to docker-compose file"
Need an example in docs demonstrating adding other stateful services through its docker-compose.yaml file
as mentioned here https://github.com/openfaas/faasd#about-faasd as last point

I don't know it is appropriate to ask a question here over asking in StackOverflow
How to add new services to docker compose file, I'm trying to add minio  and kafka to the stack tried modifing the docker compose in

[2021-09-11 07:43] Shikachuu commented on #200
Hey @krishnasaga ,
You can modify the `docker-compose.yml` file as you would normally do with a few minor exceptions.
From what I tested and what the other issues/blogs and the book says, it is pretty much behaves the same as [`nerdctl`](https://github.com/containerd/nerdctl/blob/master/docs/compose.md).

You can buy the book, there are a few chapter in it just for this use case.
(If you are on a

[2021-09-11 07:53] Shikachuu commented on #186
Hey @alexellis,
I am planning to pick up this issue.

The do you have any flag name in mind?
Or should I use the one in the `nerdctl` PR that you linked? (`--insecure-registry`)

[2021-09-11 07:56] alexellis commented on #186
Why don't you have a play with it without committing to a design? Just see if you can figure out what's needed to make it work first.

[2021-09-15 11:47] #195 closed

[2021-09-15 11:53] alexellis commented on #200
Hi @Shikachuu thanks for trying to help here, but we cover this in the eBook in great depth.

The documentation is in the eBook for a reason, and is priced so that anyone can buy a copy.

Alex

[2021-09-15 11:53] #200 closed

[2021-09-15 11:53] #192 closed

[2021-09-15 11:54] alexellis commented on #192
Not at this time - systemd is a technology choice.

Perhaps you can use Debian or Ubuntu instead of Alpine Linux on your system? Can you explain the constraints and use-case a little clearer?

[2021-09-15 11:55] alexellis commented on #183
Of course it's possible to use OpenFaaS with a CI system.

It's covered in the docs and in the eBook, do you have a copy yet?

https://gumroad.com/l/serverless-for-everyone-else

[2021-09-15 11:55] #183 closed

[2021-09-15 11:56] alexellis commented on #179
@kmpm should we assume that you are no longer interested in technical support given that you haven't replied to the issue in several months?

Let me know within the next couple of days and we can always close this out for you.

[2021-09-15 11:56] #179 closed

[2021-09-15 11:57] alexellis commented on #177
Given how long has passed since you volunteered to help, this issue is now fair game for anyone who wants to contribute.

Nobody is working on this at present.

[2021-09-15 14:48] alexellis opened #201 "Issue with secrets migration step for multiple namespaces"
Issue with secrets migration step for multiple namespaces

## Expected Behaviour

Upgrading to multiple namespace support should not affect existing functions.

## Current Behaviour

## List all Possible Solutions

Copy secrets, instead of moving them upon start-up.

Redeploy the function automatically (I'm not sure that we have the spec / original object required to do this)

## List the one solu

[2021-09-15 18:49] #201 closed

[2021-09-15 18:51] Waterdrips opened #203 "Namespace not checked (exists/tagged) before deploy"
When using the non-default namespace the faas-cli deploy command with `-namespace` should validate that the supplied namespace exists and is labeled such as:

[code]

## Expected Behaviour
trying to deploy to a non-existent AND/OR non tagged namespace should error
## Current Behaviour
it deploys to the non-existent or non-tagged namespace

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://g

[2021-09-15 18:53] alexellis commented on #203
This might affect other operations such as update and other endpoints such as the ones for secrets which also take a namespace query string.

Something like this would enable you to look up the namespace passed in, in an efficient way

[code]

Based upon the code I saw in the list namespaces handler by @nitishkumar71

[2021-09-16 06:25] Waterdrips commented on #203
/assign: me

[2021-09-16 09:37] #203 closed

[2021-09-16 10:28] kmpm commented on #179
Leave the issue closed. Thanks for the effort.
Was trying to follow the book in how to upgrade faasd but I couldn't because faasd never stopped. Perhaps I should have waited longer and/or please edit the book and mention that it can take a while as well as perhaps give an example for how long it takes on a RPI4 or something.
I waited 2-3 minutes before looking into how to kill the process.

[2021-09-17 07:42] alexellis commented on #203
FYI @nitishkumar71

[2021-09-17 08:00] alexellis commented on #191
@mohammadVatandoost please can you confirm whether you've read the comment I sent you about 2-3 weeks ago? If you've lost interest, or don't want to provide the additional information, then I would be happy for you to close the issue.

[2021-09-17 08:00] alexellis commented on #177
/add label: help wanted, good first issue

[2021-09-18 09:42] alexellis commented on #177
@Shikachuu I don't think we have any CPU limits at this stage, so this just covers memory being populated *back again* from what was inputted.

See also: https://github.com/openfaas/faasd/commit/9e5eb84236865069396adc29d3e5855d5d42a70a

[2021-09-21 16:02] mohammadVatandoost commented on #191
Sorry @alexellis, I was busy.
I updated description.

[2021-09-22 16:10] alexellis commented on #191
Thanks, please could you provide details under `Steps to Reproduce (for bugs)`?

[2021-09-27 10:52] krishnasaga commented on #200
@alexellis I didn't get why the blog post link is removed :(
And also I disagree that it is not priced as such an entry level graduate learner dong side projects cannot buy it
For a business yes it is on budget. But for side project guys and young students it is not on the budget
More people use your software, more power it will become with use cases.   Thanks :)

[2021-09-27 11:57] alexellis commented on #200
/lock

[2021-10-09 06:18] strongishllama opened #207 "Deploying with faasd AWS CDK"
Hi there!

I've translated the DigitalOcean Terraform deployment into a CDK construct so I cloud play around with it on an AWS EC2 instance.

If you think it would be useful to the community I'd be more than happy to put in a pull request to either add the CDK construct to the docs directory of this project or just link to the NPM package once I've cleaned it up a little.

My initial thought would

[2021-10-09 07:42] alexellis commented on #207
Hi @strongishllama I'd be interested in seeing a blog post or sample that we can run and try out.

Let me also ping @nathanpeck who wrote [some CDK for inlets and ECS Anywhere](https://github.com/nathanpeck/inlets-on-ecs-anywhere), he may also have an interest.

Alex

[2021-10-09 08:31] strongishllama commented on #207
@alexellis sounds good. I'll clean it up a bit and send through a link to a sample project.

[2021-10-10 03:27] strongishllama commented on #207
Hey @alexellis,

Here's a link to the [demo CDK stack](https://github.com/strongishllama/faasd-cdk-demo) and the [NPM package](https://github.com/strongishllama/faasd-cdk) it imports.

If you're looking to try it out your best bet would be to clone the demo stack and follow the deployment steps in the readme.

A couple of things to note, mainly around two assumptions I've made.
- There needs to be

[2021-10-17 10:37] LucasRoesler opened #208 "Support raw binary secrets"
Raw binary data was introduced into the faas-provider secrets model in https://github.com/openfaas/faas-provider/pull/60
While expanding the certifier secrets test to include support for Raw values, I discovered that this feature has not been ported to faasd. We need this to maintain compatibility wtih faas-netes.

## Expected Behaviour

The new certifier tests should pass and create a secret from

[2021-10-17 13:16] alexellis commented on #208
/add label: design/approved

[2021-10-17 17:04] #208 closed

[2021-10-22 15:37] steskalja opened #210 "Windows Server 2022 Support for fassd"
With CNI and containerd both supported for Windows Server, it would be great if faasd could be made to support Windows Server, staring with Windows Server 2022

## Your Environment

OS and architecture: Windows Server x86

Versions: 2022

go version: 1.17.2

containerd version: 1.5.7

cni version: 0.8.1

[2021-10-30 17:51] JadKHaddad opened #222 "Issue with Locust creating too many file descriptors"
## My actions before raising this issue
- [X] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X] Searched [past issues](/issues)

## Expected Behaviour
Increase the limit of open files in an openfaas function

## Current Behaviour
Limit is stuck at 1024

## Are you a GitHub Sponsor (Yes/No?)
N

[2021-11-02 21:49] alexellis opened #214 "Upgrade to containerd v1.5.7"
## Upgrade faasd to use containerd v1.5.7

faasd uses a set version of containerd and we also have a set of binaries for ARM users maintained here: https://github.com/alexellis/containerd-arm/releases

The hack/install.sh script needs to be updated, as well as anywhere else in the project that mentions or references containerd.

Be careful and *do not* apply a search and replace globally, even if

[2021-11-02 21:54] alexellis opened #215 "hack/install.sh doesn't exit if a command fails"
## Expected Behaviour

If any command fails, the script should stop and make it obvious to the user that things didn't work. I ran into an error downloading containerd and it was buried in the output.

<img width="948" alt="Screenshot 2021-11-02 at 21 14 35" src="https://user-images.githubusercontent.com/6358735/139956942-2aefb060-6210-4fa2-9392-07320bd93bcd.png">

## Current Behaviour

hack/insta

[2021-11-02 21:57] alexellis commented on #210
@steskalja closing out of inactivity. I'd still like to hear from you.

[2021-11-02 21:57] #210 closed

[2021-11-02 21:58] alexellis commented on #207
Sure let me know when you have something.

[2021-11-02 21:59] alexellis commented on #207
You can join us on [Slack](https://slack.openfaas.io) if you like, because there's some development happening on faasd and we could use your help with testing (and contributing if that's of interest)

[2021-11-02 22:00] alexellis commented on #207
/set title: Deploying with faasd AWS CDK

[2021-11-02 22:00] alexellis commented on #214
See also: https://github.com/openfaas/faasd/pull/212

[2021-11-02 22:05] strongishllama commented on #207
Thanks, I'll check it out.

[2021-11-04 15:08] xrazis commented on #215
I'll take this.

[2021-11-04 18:30] alexellis commented on #215
That looks promising. Let's get a PR up for it?

Out of interest, does arkade's get.sh script also do this?

[2021-11-04 19:48] xrazis commented on #215
Nope, arkade does not use set. I tried to fail that as well but seems to fail successfully with or without set.

[2021-11-04 20:24] xrazis commented on #215
Seems i've run into some problems with set.
<details>
  <summary> This is the output when running the script in its current form </summary>

[code]
</details>

<details>
  <summary>This is the output with set added and no breakpoint </summary>

[code]
</details>

Is this the intended behavior? I do believe the script fails somewhere inside faasd install (line 139). set catches this error from curl

[2021-11-06 11:39] LucasRoesler opened #220 "Secret listing does not handle the empty namespace gracefully"
## Expected Behaviour

Running the `GetSecretList` shouold return an empty list when the namespace exists, is valid, but has not yet create the secrets mount folder

## Current Behaviour

Running the certifier with multiple namespaces enabled produces an error at the beginning of the secrets CRUD tests

[code]

Which comes from  this snippet of code

[code]

## Are you a GitHub Sponsor (Yes/No?)

[2021-11-08 19:55] alexellis commented on #222
/set title: Issue with Locust creating too many file descriptors

[2021-11-08 19:55] alexellis commented on #222
/add label: support,question,enhancement

[2021-11-09 09:16] alexellis commented on #222
I expect a ulimit of 1024 is quite standard, and may even be too generous for what a function typically is meant to do.

Apparently it can be configured, but I am not sure this is something that makes sense as part of the function spec or as an annotation.

https://github.com/containerd/containerd/issues/3150

Perhaps you'd like to follow our patching guide to building faasd and hack on the source

[2021-11-16 21:37] alexellis opened #223 "Change NATS to use disk storage and not memory"
## Expected Behaviour

Faasd async invocations should survive a crash of the NATS process.

## Current Behaviour

If the NATS process is restarted, it appears that all queued messages would be lost.

## List all Possible Solutions

Mount a directory in the compose file, and update the `--store` flag to `FILE`
[code]

## Steps to Reproduce (for bugs)

1. Deploy a sleep function like `go-long` - set

[2021-11-22 15:15] alexellis opened #225 "HA / resilience in faasd"
## Research / request for comment

faasd was originally written as an "appliance" to run on a VM or Raspberry Pi, with low resource constraints, fast cold-starts and low-operational complexity. There is no well-defined strategy or approach for either High Availability or resilience in faasd.

Does this prevent certain users from putting faasd into production or using it for their side hustle/proje

[2021-11-22 16:56] alexellis commented on #225
@dirien @vshymanskyy I see you left an emoji, but I'm interested in some answers to these questions. Do you use faasd currently and also have an opinion on what your needs are?

[2021-11-22 20:40] caquino commented on #223
Hi,

I'm taking a look at this issue and I have a question regarding how to proceed.

I'm using `/var/lib/faasd/nats` as the directory to store the data.

To create the directory, I'm changing `cmd/install.go`, which has two functions to handle directory creation:
- ensureWorkingDir, which will set the directory to `0644` as specified on `workingDirectoryPermission`
- ensureSecretsDir, which will

[2021-11-22 22:50] caquino commented on #225
I am curious about what kind of stateful workload would require HA, maybe I'm missing something here but if on your infrastructure, moving prometheus to a dedicated cluster with your required availability model, and the same for nats, would not cover all requirements for HA and also allow multiple faasd nodes to use the same prometheus and nats backends?

I think my only concern would be if we use

[2021-11-23 08:06] alexellis commented on #223
You raise an important question here.

How should we manage data directories / volumes that are mounted for user containers? The existing directories are for faasd and faasd-provider, which are static and always required.

Technically speaking, NATS can be disabled and removed.

When adding Postgresql, the eBook Serverless For Everyone Else instructs the user to run mkdir / chmod / etc before addi

[2021-11-23 08:30] LucasRoesler commented on #223
RE @alexellis's middle ground, I definitely prefer not requiring many "setup" steps prior to starting faasd.

RE @caquino's question about the function, I prefer the generic function `ensureDir(name string, permissions int)` with some predefined common constants for the permissions.

I think the idea solution is to actually ensure the directories [based on the volumes in the `docker-compose.yaml`]

[2021-11-23 08:46] alexellis commented on #225
I hadn't yet considered NATS and Prometheus, but thanks for bringing it up.

I think that losing a Prometheus instance would be tolerable, so long as another was ready to come online.

Losing a NATS instance could mean a loss of queued invocations, so that brings up something I hadn't considered in the original issue.

We talked about part 2, what about part 1? Load Balancer and > 1 instance.

How

[2021-11-23 10:26] caquino commented on #225
There are many ways to do that, let me do an exercise and imagine how I would do with the current architecture:

1. Move NATS to a stand-alone cluster
2. Move Prometheus to a stand-alone cluster
3. Make an AMI using Packer with `faasd` pre-installed and configured to access the external NATS and Prometheus clusters
4. Create the terraform code to provision the required infra, including VPC/netbloc

[2021-11-23 10:33] caquino commented on #223
@LucasRoesler @alexellis considering the conversation we are having on #225 looks like the best option would be to not have any reference to the nats persistency directory inside of code as this would force nats to run on the same server as `faasd`.

It would be interesting if we could manage 100% of the creating/permission of the data folders only on `docker-compose.yaml` this way allowing users

[2021-11-23 13:46] alexellis commented on #223
@caquino please can keep a copy of that branch you made with your current work, and create a new one from master. In the new branch, implement what Lucas said above.

We already have the data parsed, so the task would be to run the equivalent of the "ensure directory" function using the data from compose. Leave the current "ensure directory" references in place for faasd/faas-provider.

#225 is a

[2021-11-23 15:08] mhgoldman commented on #225
I've been thinking about this problem for a project I'm working on -- namely, that the need to explicitly "deploy" a function is a kind of statefulness that might be convenient to do without sometimes. If my faasd VM acts up, it'd be nice to be able to just kill it and spin up a new one and have it be ready to go.

If I can `docker run` an image I haven't `pull`ed yet, it might be nice to be able

[2021-11-23 15:36] caquino commented on #223
Question about the implementation, we want `volumes` to be a install time or runtime dependency?

Should it be on cmd/install.go, or to move to an approach similar to the proxied services on cmd/up.go? e.g: on up to iteract over the volumes for all services and guarantee that the configuration on docker-compose.yaml is applied?

[2021-11-23 16:11] alexellis commented on #223
I am not sure it makes sense during the installation. Isn't the compose file only parsed at up?

Also, install is one-time, up is run on every reboot or restart of faasd.

[2021-11-23 18:30] MrWormHole commented on #225
I don't think there is any choice for faasd to have HA, you will basically have to migrate to openfaas which is the core project on top of k3s nodes in a cloud provider or in your own machines. K3S community mentions HA as 3 master nodes 3 worker nodes.

Faasd's resilience is as reliable as getting a VM and putting a container in it and if it fails you have to restart over or supply extra RAM and

[2021-11-24 17:46] alexellis commented on #225
Thanks to everyone who commented. We talked about this on the contribtutors' call this week and it seems like a generic solution might be too much work, with no current users expressing a need for this.

Feel free to keep the conversation going if you have thoughts.

[2021-11-24 17:46] #225 closed

[2021-12-01 16:54] alexellis commented on #223
@caquino please could you send a PR?

[2021-12-04 09:08] webkp opened #226 "Update Caddy version used in faasd-digitalocean-terraform example"
## Expected Behaviour

Successfully run faasd with Caddy using Terraform according to the tutorials as found here:
https://www.openfaas.com/blog/faasd-tls-terraform/
https://github.com/openfaas/faasd/blob/master/docs/bootstrap/digitalocean-terraform/README.md

## Current Behaviour

Caddy does not start

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes

[2021-12-04 12:05] alexellis commented on #226
I used Caddy and faasd very recently and it worked OK for me, so thanks for flagging this.

@jsiebens do you want to confirm that there's a problem and send a patch if there is?

[2021-12-04 12:08] alexellis commented on #226
My gut feeling is that we have a bug in the install.sh script, that it should use the same branch for the service as it does for the binary, for compatibility.

From:

[code]

To:

[code]

Do you think that would resolve the problem @webkp ?

[2021-12-04 12:15] webkp commented on #226
@alexellis Sorry if it was unclear: install.sh will probably work (I didn't check that) but the terraform-caddy-digitalocean example does not since old versions of caddy are used in the cloud-config.tpl (version 2.1.1) while the caddy.service file is taken from the master branch. Back in April, the guys from Caddy changed caddy.service (https://github.com/caddyserver/dist/pull/57) so you use the m

[2021-12-04 12:16] alexellis commented on #226
It would be easier if those templates used the installation script. Do you want to send a tested PR to update for this?

[2021-12-08 16:15] alexellis commented on #223
@caquino do you need us to find someone else to pick up this work?

It's been several weeks since I last heard from you, what's your status?

[2021-12-11 15:45] ChitiphatC opened #227 "faasd may have a compatibility issue with Debian Bullseye"
## Expected Behaviour
Installing with ./hack/install.sh should works in a newly flashed 'Raspberry Pi OS with desktop' and 'Raspberry Pi OS Lite'  as instructed in https://blog.alexellis.io/faasd-for-lightweight-serverless/

## Current Behaviour
The installation returned the following error:

#### pi@raspberrypi:~/faasd $ ./hack/install.sh
.
.
.
./containerd-shim
Finding latest version from GitHub

[2021-12-11 16:03] alexellis commented on #227
faasd is designed for only the lite version of Raspberry Pi OS, and not for a desktop edition.

If you’re running into issues with Bullseye, then you will need to use the so called “legacy” OS named Buster.

All faasd instructions, installation guides and eBooks are valid for Raspberry Pi OS Buster.

There appears to be some issues with the changes made in Debian Bullseye by the Raspberry Pi team

[2021-12-11 16:03] alexellis commented on #227
/set title: faasd may have a compatibility issue with Debian Bullseye

[2021-12-11 16:05] alexellis commented on #227
If anyone has the spare cycles to spend poking at Debian Bullseye, it may be worth comparing notes with the K3s team. K3s also fails to run on the newest OS due to a problem in runc.

https://github.com/k3s-io/k3s/issues/4580

[2021-12-11 16:05] alexellis commented on #227
@jsiebens is looking into this something you’d be interested in?

[2021-12-11 16:06] alexellis commented on #227
The error also mentions iptables, which is probably a breaking change made in Debian Bullseye. You may want to look up how to reinstall it, or a legacy version of it.

[2021-12-12 15:03] ChitiphatC commented on #227
@alexellis thank you for the advise. I ll go with the Buster as suggested.

[2021-12-15 20:25] alexellis commented on #223
This is now no longer being worked on. I'm looking for a volunteer.

[2021-12-15 20:36] Shikachuu commented on #223
I can work on this with an ETA of 12.18 Saturday-ish

[2021-12-16 14:06] nitishkumar71 opened #228 "faasd does not provide memory limits of functions in Canonicalize format"
All the openfaas implementation should return the memory info in the Canonicalize format.
## Expected Behaviour

faasd should return memory limits in Canonicalize i.e. 5000000 should be returned as 5M. We follow the same into faas-netes.

## Current Behaviour

faasd Provides function memory limit in bytes.
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ]

[2021-12-16 18:11] alexellis commented on #228
Could you submit a PR for initial review and testing?

Alex

[2021-12-17 02:48] nitishkumar71 commented on #228
I will work on this.

[2021-12-18 17:10] Shikachuu commented on #228
Sorry, I think this issue is my bad :sweat: I should have written a test case for the SI conversion aswell.

Anyways @nitishkumar71 this is the problematic line that you looking for:
https://github.com/openfaas/faasd/blob/master/pkg/provider/handlers/read.go#L41

Since the memory limit itself is working, only the format breaks.

[2021-12-21 13:26] #223 closed

[2021-12-21 21:05] darenwatkins opened #230 "faas-cli login fails after installation"
After setting up a vanilla Linux VM in Azure, it first failed to let me curl to the gateway, but after restarting faasd (as recommended in the known issues section) I was able to get a response.  The next step was to log into faas-cli using this command:

 sudo cat /var/lib/faasd/secrets/basic-auth-password | ./faas-cli login -s

This resulted in

Calling the OpenFaaS server to validate the creden

[2021-12-21 21:48] alexellis commented on #230
Hi @darenwatkins

Thanks for your interest in faasd.

I'm not aware of any issue where faasd would fail after installation.

There's full troubleshooting instructions in the handbook/eBook for faasd. faasd is self-service, and you should find what you need in its handbook:

https://store.openfaas.com/l/serverless-for-everyone-else

This is an open source project and we don't deploy commercial Linu

[2021-12-21 21:48] alexellis commented on #230
/add label: support, question

[2021-12-22 16:39] alexellis commented on #228
So we put in: 1Mi
And get out: 1048576

For this import `        "k8s.io/apimachinery/pkg/api/resource"`

What do these calls generate?

[code]

[2021-12-22 17:23] nitishkumar71 commented on #228
So just checked below lines in playground

[code]

and the output we received is
[code]

[2021-12-22 21:33] alexellis commented on #228
Is that ordering correct in the output?

[2021-12-23 05:42] nitishkumar71 commented on #228
Yes.

Including playground link.

https://go.dev/play/p/r7J2X3pOT7g

[2022-01-01 08:25] rvramesh commented on #227
I ran across the same error. Resolved it by running

[code]

Should iptables be installed along with curl and other dependencies?
@ https://github.com/openfaas/faasd/blob/77867f17e37dee229ecf0613f6efdfb0b396355e/hack/install.sh#L46

[2022-01-06 13:55] #230 closed

[2022-01-09 16:50] nitishkumar71 opened #232 "function info will provide memory limit as 0, if not specified explicitly"
The faasd function reader will deliver memory value as 0, if the same is not mentioned during deployment.
## Expected Behaviour

No memory limit should be provided, if value is 0
## Current Behaviour

Memory limit value for is set as 0 by function reader
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List all Possible Solutions

Check i

[2022-01-09 16:50] nitishkumar71 commented on #232
I will work on it.

[2022-01-13 12:24] LinYKen opened #234 "How can I enter the dashboard"
## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [ x ] No

## List all Possible Solutions

## List the one solution that you would recommend

## Steps to Reproduce (for bugs)

It's not a bug.

## Context

openfaas is new to me. I am trying to deploy an openfaas on my virtual machine. I follow the instruct

[2022-01-18 19:00] waalge opened #235 "Faasd issues on Debian Bullseye"
## Expected Behaviour

Trying to adapt [blog][alexellis_post] [posts][myedes_post] to run faasd.

**Expected:** Faasd to be working.

## Current Behaviour

Had [iptables](https://github.com/openfaas/faasd/issues/227#issuecomment-1003526057) and found the same resolution as noted there.

Had errors from journal reported as
[code]
I think this occurred initially for all services, but then perhaps af

[2022-01-18 23:10] alexellis commented on #235
Hi, I would suggest using Ubuntu 20.04 LTS or the Buster OS instead of Debian Bullseye. There's no advantage that I'm aware of that you would find by using Bullseye instead.

If you're using a Raspberry Pi, there are known issues with the OS as it's being bundled at present.

Closing at a duplicate of: #227

Alex

[2022-01-18 23:10] #235 closed

[2022-01-18 23:11] alexellis commented on #227
Seems reasonable @rvramesh. @jsiebens what do you think?

[2022-01-18 23:11] alexellis commented on #235
/add label: duplicate

[2022-01-19 08:54] waalge commented on #235
@alexellis Thanks.
Although I don't this is not a duplicate.

[2022-01-19 10:24] danielmichaels commented on #226
Hey Team,

To follow up on @webkp I've hit an issue with the terraform module using Caddy 2.1.1 on both Ubuntu 20.04 and 18.04 as well.

By manually running this line after the droplet comes online but changing it to Caddy 2.4.6 and running `systemctl restart caddy` I was able to successfully run `faasd`.

https://github.com/openfaas/faasd/blob/77867f17e37dee229ecf0613f6efdfb0b396355e/docs/bootstr

[2022-01-19 12:45] alexellis commented on #226
Please can you submit a PR for this @jsiebens ?

[2022-01-19 12:46] jsiebens commented on #227
yes, seems reasonable to me as well

[2022-01-19 17:46] alexellis commented on #235
I'm happy for you to explain why you think that both issues are not about compatibility with Debian Bullseye?

[2022-01-19 17:47] alexellis commented on #227
See a related / duplicate issue at: https://github.com/openfaas/faasd/issues/235

[2022-01-19 18:05] #220 closed

[2022-01-20 10:08] waalge commented on #235
@alexellis It is a "faasd may have a compatibility issue with Debian Bullseye" #227
but is not about iptables which is resolved with installing iptables.
#227 doesn't cover subsequent issues.

Although
[code]
Is known, the suggested solution did not work for me - the error consistently appears.

Very happy to do any further tests if its helpful.
Otherwise I'll switch distro.

[2022-01-20 16:03] alexellis commented on #235
The community member on #227 explained that it worked for him after installing iptables, so I would encourage you to ask @rvramesh what you may be doing differently?

Our recommendation is for Buster on RPi or Ubuntu, why do you feel Bullseye is better, or necessary?

I'm sure we will get to this at some point in the future, if the community wants to spend the time on it.

[2022-01-20 22:36] rvramesh commented on #235
@waalge I got it working by using `sudo ./hack/install.sh` instead of `sudo faasd install` . Have you tried doing this?

[2022-01-20 22:38] waalge commented on #235
I didn't apriori foresee this being an issue when I started.
Adapting walkthroughs to accommodate newer versions is often an achievable, and in case, informative process.

I searched as best I could the github issues for errors akin to mine, and I didn't find any (installing iptables wasn't really an obstacle).
I don't mind this being closed - without pointers I can't assist in a fix.
But I don't

[2022-01-21 09:10] alexellis commented on #235
@waalge so can I confirm that Debian Bullseye is now working for you, just by following the steps that @rvramesh mentioned in his issue?

[2022-01-21 09:11] alexellis commented on #234
Hi @LinYKen thanks for using faasd and thank you for asking this question.

Everything is explained including this in the official handbook for faasd.

You may benefit from owning a copy!

https://openfaas.gumroad.com/l/serverless-for-everyone-else

[2022-01-21 09:11] #234 closed

[2022-01-21 11:32] waalge commented on #235
@alexellis it now works. Sure. I guess if I want to understand how `sudo ./hack/install.sh` deviates from `sudo faasd install` I can read the script.

[2022-01-22 10:22] miooochi opened #238 "Request of adding Archlinux installation support"
## Summary

Request of adding Archlinux installation support

## Details

Is it possible to include the installation via `pacman` for Archlinux users in the future?

[2022-01-22 10:41] yqlbu commented on #238
I checked out the installation script, but it is still using a default scripting method to install `faasd`. If the end-user can install `faasd` via `pacman`, that would be great.

[2022-01-25 12:00] nitishkumar71 opened #239 "Bump Gateway Version to 0.21.3"
## Due diligence

Before you for help or support, make sure that you've [consulted the faasd manual "Serverless For Everyone Else"](https://openfaas.gumroad.com/l/serverless-for-everyone-else).

Update the gateway version to latest
## Expected Behaviour

Change the line to update version
https://github.com/openfaas/faasd/blob/761d1847bf9958dfa6ff5f42594fe3d62d75d1de/docker-compose.yaml#L59

## Are

[2022-01-25 16:12] #239 closed

[2022-01-25 16:17] #232 closed

[2022-02-01 00:15] #171 closed

[2022-02-10 11:33] mlunax opened #241 "question: uninstall faasd"
I would like to ask what need to uninstall faasd from server.
Thanks in advance.

[2022-02-16 16:58] alexellis commented on #241
See the dev guide so that you can stop the faasd and faasd-provider services. Then you can remove the binaries.

Effectively the reverse of the developer guide -> https://github.com/openfaas/faasd/blob/master/docs/DEV.md

@nitishkumar71 please could you add a section at the end on disabling what we install and how to remove it via `apt-get`?

[2022-02-23 16:55] welteki opened #245 "Image missing in faas-cli describe output."
## Due diligence

Before you for help or support, make sure that you've [consulted the faasd manual "Serverless For Everyone Else"](https://openfaas.gumroad.com/l/serverless-for-everyone-else).

## Expected Behaviour

Image should be displayed in `faas-cli describe` output.

## Current Behaviour

Image is not displayed in `faas-cli describe` output.

## Are you a GitHub Sponsor (Yes/No?)

Check at

[2022-02-23 17:24] welteki commented on #245
/system/functions has the image name, in system/function/NAME it is missing.

[2022-02-23 22:29] welteki commented on #245
Still need to figure out why this was not detected by the certifier.

[2022-02-24 03:12] nitishkumar71 commented on #245
Since certifier do not test using `system/function/NAME` i.e. **Replica Reader**. It actually validate details from ` /system/functions` i.e. ** Function Reader**

[2022-02-24 09:48] alexellis commented on #245
@nitishkumar71 can you log an issue so that we check the `system/function/NAME` endpoint in the certifier tests?

[2022-02-24 10:25] #245 closed

[2022-03-02 16:05] welteki opened #247 "Normalize image name of services."
## Due diligence

Before you for help or support, make sure that you've [consulted the faasd manual "Serverless For Everyone Else"](https://openfaas.gumroad.com/l/serverless-for-everyone-else).

faasd normalizes the image name of function deployments using `reference.ParseNormalizedNamed`. It does not normalize the image name of services defined in the docker-compose.yaml file.

Is there a reason

[2022-03-02 17:23] alexellis commented on #247
Please go ahead with your suggestion. Thanks for reporting it.

[2022-03-04 11:37] protonjhow opened #249 "Make Default subnet in pkg/cninetwork/cni_network.go configurable"
## Expected Behaviour
Option to choose the cni_network prefix that is persistent across restarts of the faasd stack.

## Current Behaviour
Right now 10.62.0.0/16 is harcoded in pkg/cninetwork/cni_network.go and the code generates and deploys this into /etc/cni/net.d/10-openfaas.conflist on faasd startup. Editing this file manually is replaced by faasd on next execution.

## Are you a GitHub Sponso

[2022-03-21 13:06] amarjothi commented on #176
hi Alex,
I can answer this, faasd is deployed on an internal network with no external connectivity. Hence there is a requirement to override to set it to organizations nameserver and search. dns and dns.search parameters. Please do you know if this will be fixed any time soon.

Kind Regards,
Amar.

[2022-03-24 08:18] s3lva-kumar opened #250 "Tracking faasd Terraform examples"
## Due diligence

Streamline the provisioning of faasd on mid-tier cloud providers for better adoptability.

## Expected Behaviour

Blow up the ease of which one could provision, install, and configure the infra for faasd to be deployed into.

## Current Behaviour

Right now, a terraform plan is in place only for _Digitalocean_.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/

[2022-03-24 09:43] alexellis commented on #250
I'm happy to link to community terraform scripts. The DigitalOcean item in this repo just serves as an example, and is one that I use.

@jsiebens has written several of his own providers for instance:

https://github.com/jsiebens/terraform-google-faasd
https://github.com/jsiebens/terraform-azurerm-faasd
https://github.com/jsiebens/terraform-equinix-faasd
https://github.com/jsiebens/terraform-scale

[2022-03-24 19:27] martinwoodward commented on #227
Can confirm that adding iptables allowed me to run on Bullseye
[code]

[2022-03-24 20:35] jsiebens commented on #250
I also had an AWS example available, but apparently it was not made public yet, so here it is:

https://github.com/jsiebens/terraform-aws-faasd

[2022-03-24 20:52] alexellis opened #251 "When starting up, show downloaded images in megabytes"
## Current Behaviour

[code]

## Expected Behaviour

I think this would be more readable in megabytes

Such as: 79.599922 MB or 79.59 MB

## List all Possible Solutions

1) Just divide by 1024 * 1024
2) Use a library function like https://yourbasic.org/golang/formatting-byte-size-to-human-readable-format/

## List the one solution that you would recommend

Not sure

## Steps to Reproduce (for bugs

[2022-03-24 21:01] alexellis opened #252 "Print start-up timings to two places"
## Expected Behaviour

Logs such as:

[code]

Should be printed more like: 30.1s or 30.12s, instead of including all the additional decimal places.

The code for this is in the up/supervisor code in the faasd process.

## List all Possible Solutions

Something like:

[code]

## Steps to Reproduce (for bugs)

1. Run `faasd up` and view the logs

[2022-03-24 21:02] alexellis commented on #252
/add label: good first issue, help wanted

[2022-03-25 11:33] welteki commented on #251
I will work on this.

[2022-03-27 02:46] hamzakat opened #253 "Unexpected error: failed to mount no such device on my Raspberry Pi 3"
## Sumamry
I just made a fresh installation on my Pi 3B using `./hack/install.sh`, but `faasd` didn't work as expected without rebooting the Pi.

## Expected Behaviour
I expected to get `faasd` working after the installation, without having errors on log. I tried to reload `containerd` and `faasd`, but that wasn't enough.

## Current Behaviour
This is the log I got:
[code]

## Are you a GitHub Spo

[2022-03-28 08:43] alexellis commented on #252
I suggest that we try Docker's go-units:

[code]

[2022-03-28 08:44] alexellis commented on #251
See comment here @welteki and thank you :slightly_smiling_face:

https://github.com/openfaas/faasd/issues/252#issuecomment-1080364137

[2022-03-28 19:31] merlinvn opened #254 "Support GPUs option when create a function that need GPUs"
Hi, I'm trying to run faasd with Jetson Nano. So far my image can run with containerd in cli with the command:

` sudo ctr run --rm --net-host --gpus 0 docker.io/merlinvn/image-classy:0.1 image-classy`

But it cannot deploy to faasd due to missing `--gpus 0` tag when create a new container . Is there anyway to add options when create a new cointainer when deploying function?

I think a small patch

[2022-04-02 19:31] #251 closed

[2022-04-02 19:31] #252 closed

[2022-04-06 11:21] #241 closed

[2022-04-06 14:53] idc77 opened #256 "Don't call yourself open when you're trialware"
The word open implies free in ANY case.
Not only is your workflow explained behind an ebook paywall, but the prod version of your thing is a paid product.

Rename yourself, you're a bad actor.

[2022-04-08 08:40] s3lva-kumar commented on #250
Our company [itTrident](https://github.com/itTrident) was generous enough to sponsor us funds to procure a bunch of Cloud accounts to aid us in writing and testing terraform modules for faasd.

As previously stated, I'll continue to work on Linode and decided to take on one more. My colleague's too expressed interest in working on a few others as well.

https://github.com/itTrident/terraform-cloud

[2022-04-08 09:01] r4jeshwar commented on #250
...and I, [Exoscale](https://github.com/exoscale)

https://github.com/itTrident/terraform-exoscale-faasd

[2022-04-09 15:19] apmontgomery opened #257 "GPIO accessible on RPI from faasd function?"
## Expected Behaviour
It would be awesome to be able to access GPIO on raspberry pi from within

## Current Behaviour
There seems to be no way to do so. I tried both pigpio and onoff npm libraries after modifying the template dockerfile to add relevant dependencies.

Do you know of any workaround to achieve this?

[2022-04-10 16:50] #256 closed

[2022-04-10 16:54] alexellis commented on #253
Thanks for the info.

I've never seen this myself, and I use faasd on RPis and regular VMs everyday day, so do a bunch of other people.

Do you get this every time you reboot your RPi?

Perhaps try removing the containers with `sudo ctr -n openfaas task ls/rm` and `sudo ctr -n openfaas container ls/rm`.

If other people run into this issue, we'll track it here and spend some time investigating it.

[2022-04-10 16:55] alexellis commented on #253
/set title: Unexpected error: failed to mount no such device on my Raspberry Pi 3

[2022-04-10 16:55] alexellis commented on #253
/add label: support, question,raspberry pi

[2022-04-10 17:40] alexellis commented on #257
Hi @apmontgomery

It depends what you mean by "access GPIO"? Which library are you wanting to use, and what is the application of this?

I can probably suggest a patch for you to apply for your own private usage.

Given that this is just a way of you asking for technical support, I'm going to close the issue. Feel free to continue the discussion with me here.

Alex

[2022-04-10 17:40] #257 closed

[2022-04-10 17:41] alexellis commented on #250
@jsiebens please could you send a PR to gather all of these and your many repos in the docs folder somewhere?

[2022-04-10 17:42] alexellis commented on #250
@r4jeshwar there's no code in the [repo you linked](https://github.com/itTrident/terraform-exoscale-faasd), is there supposed to be?

[2022-04-10 17:44] alexellis commented on #249
Hi @protonjhow please take a moment to [fill out the whole issue template](https://raw.githubusercontent.com/openfaas/faasd/master/.github/ISSUE_TEMPLATE.md), not just the fields that you decided you wanted to fill out.

Then once we have that, we'll review this on the [weekly community call](https://github.com/openfaas/faas/issues/1683), feel free to attend and provide more context about why this

[2022-04-10 17:44] alexellis commented on #247
@welteki whenever you're ready feel free to send a PR, or we can close this as #wontfix. I don't mind whichever you decide.

[2022-04-10 17:50] alexellis commented on #253
Hi @hamzakat

It's of course expected that all services come up upon reboot. I just ran through this scenario on an RPi4 with 32-bit Buster and was unable to reproduce any issue.

You may want to try the commands I gave above, and if it persists, try removing the bind-mount used for Prometheus from docker-compose.yaml

I'll close this, but if someone else gets the same error, do comment here and I

[2022-04-11 07:33] alexellis commented on #254
Hi @merlinvn we will need you to fill out the [whole issue template here](https://raw.githubusercontent.com/openfaas/faasd/master/.github/ISSUE_TEMPLATE.md). If you don't want to, then I understand and can close the issue for you.

We do not have specific funding to do this work for you at this time, however, you're welcome to fork faasd under the terms of its license and to play with it on your o

[2022-04-11 07:34] alexellis commented on #253
@welteki @jsiebens @nitishkumar71 have any of you seen similar errors?

[2022-04-11 07:42] r4jeshwar commented on #250
@alexellis the repo is a placeholder, the module is making headway and will be incoming this week.

[2022-04-11 08:20] protonjhow commented on #249
Hi @alexellis,

Please accept my sincere apologies for my brevity. Hopefully this provides you more context.

I have a clash during your office hours call, but I will see if I can jiggle things around and drop in to answer any additional questions, and understand what support we can offer.

John

[2022-04-11 08:25] protonjhow commented on #249
FYI i'm using CentOS7 on this host, but production uses Rocky8.5. It feels like that is not hugely relevant to his discussion however.

[2022-04-11 10:47] jsiebens commented on #253
No, I haven't.
I'm not sure I ever ran faasd on a Pi 3B. I'm mostly using an RPi4

[2022-04-11 10:49] alexellis opened #259 "Convert hack/install.sh to use arkade for system packages"
Now that arkade has system level packages for CNI, containerd and Go, we can update hack/install.sh and simplify it.

https://github.com/alexellis/arkade/releases/tag/0.8.23

https://github.com/alexellis/arkade/issues/654

## Expected Behaviour

Use

[code]

## Current Behaviour

[code]

## Context

Reduces duplication

## Your Environment

Must continue to work for armhf, 64-bit ARM and `x86_64`

[2022-04-11 11:12] apmontgomery commented on #257
A patch as suggested would be helpful. Thanks! I wrote my functions in node and tried _onoff_ and _pigpio_ as well as writing directly to _sys/class/gpio_. What would you suggest?

[2022-04-12 01:27] nitishkumar71 commented on #253
Nope

[2022-04-20 07:27] #247 closed

[2022-04-25 11:27] r4jeshwar commented on #250
@alexellis It's done! Here you go:

[terraform-exoscale-faasd](https://github.com/itTrident/terraform-exoscale-faasd)

[2022-04-29 08:14] rozpuszczalny opened #269 "POST /system/scale-function/{functionName} yields "service not found""
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Why do you need this?

I'd like to play around with manual function scaling

## Expected Behaviour

Sending `POST /system/scale-function/{functionName}` scales r

[2022-04-29 19:17] koffeinfrei opened #265 "DigitalOcean with Terraform and faasd doesn't execute the install script"
## Why do you need this?

Following the blogpost https://www.openfaas.com/blog/faasd-tls-terraform/ I can't setup a faasd droplet on DigitalOcean.

## Expected Behaviour

After executing `terraform apply -var-file=main.tfvars` the droplet should be set up.

## Current Behaviour

After executing `terraform apply -var-file=main.tfvars` the droplet is not ready. faasd and caddy etc. are missing from

[2022-05-03 07:02] alexellis commented on #265
Hi @koffeinfrei

Thanks for flagging this.

I agree that this should be using bash and was missed in #218

@jsiebens this may affect the terraform providers that you maintain? cc #250

[2022-05-03 07:25] #265 closed

[2022-05-03 07:26] alexellis commented on #265
Could you retest please?

@cohix you also mentioned this, it looks like it was picked up already.

Was there an issue with the M1 and the provider we use somewhere?

[2022-05-03 07:54] jsiebens commented on #265
yes it might, I will patch them accordingly :+1:

[2022-05-03 15:24] alexellis opened #268 "Caddy download URL is invalid or has changed"
Caddy download URL is invalid or has changed

## Why do you need this?

Affecting a user on ARM64 in #267

## Expected Behaviour

Download the correct Caddy binary from the latest URL:

[code]

## Current Behaviour

The installation script currently adds a `-` character and creates a 404.

## List All Possible Solutions and Workarounds

Remove the `-` prefix for ARMv7 and ARM64

## Steps to Reprod

[2022-05-03 15:27] alexellis commented on #268
With the change in place:

[code]

[2022-05-03 15:38] #269 closed

[2022-05-03 15:52] alexellis commented on #250
Thanks for the community content.

If you write a tutorial as a blog post, then we can include it at https://github.com/openfaas/faas/blob/master/community.md

[2022-05-03 15:52] alexellis commented on #250
/set title: Tracking faasd Terraform examples

[2022-05-04 10:21] arunodhayamsam commented on #250
@alexellis I have done faasd on Vultr. Here you go!

[terraform-vultr-faasd](https://github.com/itTrident/terraform-vultr-faasd)

[2022-05-06 17:44] koffeinfrei commented on #265
Works! :+1:

Thanks for fixing this! :pray:

[2022-05-09 12:41] s3lva-kumar commented on #250
@alexellis I have done faasd IaC for linode. Here is the link to go: [terraform-linode-faasd](https://github.com/itTrident/terraform-linode-faasd)
I have raised the PR for faasd IaC to linode. Here is that PR https://github.com/openfaas/faasd/pull/270

[2022-05-11 14:52] welteki commented on #215
/close: resolved in #218

[2022-05-25 16:58] meacu1pa opened #275 "Add ufw rule for port 8081"
## Why do you need this?

Installed faasd on a Ubuntu 22.04 VPS behind a Caddy reverse proxy. Started blocking ports with `ufw`, only leaving 22, 80 and 443 open. faasd broke then, cause it needs port 8081 available. Didn't know about the inner workings of faasd, found out in the community office hours that interface `openfaas0` needs this port to be open. Not sure how to configure these settings

[2022-05-25 21:30] meacu1pa commented on #275
I tried `sudo ufw allow in on openfaas0 to any port 8081 proto tcp`, seems to work. I'm just not sure if this makes any sense firewall-wise (should I use something like `from eth0`)? Also I remember @alexellis talking about allowing loopback...

Sorry, totally in the dark here :D

Appreciate some hints in the right direction!

[2022-05-26 08:18] alexellis commented on #275
Thanks for this issue, this looks good to me and for some reason I had a recollection that we had enabled ufw already. @jsiebens any thoughts?

openfaas0 is a bridge adapter for the containers created by openfaas to be accessed by the host. It is not accessible via the public internet.

With your firewall now in place, try an example from the book to make sure that containers can talk to each othe

[2022-05-26 19:03] jsiebens commented on #275
Yes, you are right. I've used the following ufw rules in the past when installing faasd:

[code]

[2022-05-26 19:27] meacu1pa commented on #275
That looks great! Thanks 👍

[2022-05-30 09:52] #259 closed

[2022-06-01 06:18] arunodhayamsam commented on #250
@alexellis I have done faasd IaC for Upcloud. Here you go!

[terraform-upcloud-faasd](https://github.com/itTrident/terraform-upcloud-faasd)

[2022-06-01 15:48] alexellis commented on #275
We discussed this on the community call today, and would like to find someone to add the above rules and to install ufw in the terraform script we maintain here.

@jsiebens how would you add it to all of your providers? https://github.com/openfaas/faasd/issues/250

[2022-06-01 19:19] jsiebens commented on #275
I'm only using ufw in the module for Equinix Metal. Mainly because, at the time of creating the module, they didn't have some kind of firewall available. All my other modules are using firewalls or security groups of the target cloud (e.g. GCP and AWS)

If the ufw installation and rules would be added to the faasd install script, perhaps make it optional or skippable? Like it is already doing for

[2022-06-02 16:32] nunix opened #280 "faasd hack/install.sh containerd install typo"
## Due diligence

## My actions before raising this issue
After starting a LIMA instance based on faasd template, I could shell in and see that faasd was actually not installed.
Tried to run the install command based on the script (https://raw.githubusercontent.com/openfaas/faasd/master/hack/install.sh) and I got a containerD error (see below).

LIMA by default create all instances with containerD

[2022-06-02 19:09] nunix commented on #280
This is a non-issue from faasd. Will re-open against LIMA repo.

[2022-06-02 19:09] #280 closed

[2022-06-04 07:35] alexellis commented on #280
Just to update folks who dropped by here.

`X || :` means - execute X and if it fails, exit with exit code 0, so continue processing as normal.

I'm not sure why changing `|| :` to `\` "fixes" allows things to continue because if the former "X" fails, anything after in a continuation should do too.

cc @welteki

[2022-06-04 07:36] alexellis commented on #280
@nunix I don't see an issue on the lima repo? https://github.com/lima-vm/lima/issues?q=is%3Aissue+openfaas

[2022-06-04 07:44] alexellis commented on #275
It should either be added to hack/install.sh as an optional addition, or added to the Terraform. I think that the Terraform makes more sense, since it's not a part of faasd itself.

Alex

[2022-06-06 17:41] nunix commented on #280
@alexellis created: https://github.com/lima-vm/lima/issues/880
I could finally pinpoint the issue. Thanks a lot for your time and answers.

[2022-06-06 20:40] alexellis commented on #280
Thank you 👍

[2022-06-07 14:10] jsiebens opened #282 "Install scripts fails when executed in a VM cloud-init startup script"
## Why do you need this?

I'm using the `hack/install.sh` in several Terraform modules to provision a faasd instance.
Recently, this started failing with the error:

[code]

## Expected Behaviour

The `hack/install.sh` script should run successfully when executed from a cloud-init startup script.

## Current Behaviour

The `hack/install.sh` scripts fails when executed from a cloud-init startup scr

[2022-06-08 19:03] alexellis commented on #282
I'm a bit surprised that this usecase didn't work cc @welteki @rgee0

Given that arkade is running as root, can you set the path to /usr/local/bin directly?

Or does arkade never work when HOME isn't set? Why don't we see this on other clouds?

[2022-06-08 19:29] rgee0 commented on #282
This is where the message is originating from:

https://github.com/alexellis/arkade/blob/master/pkg/config/config.go#L24

Reading the code around that suggests it will always fail when HOME isn't set.

Once thats fixed the next line of hack/install.sh is probably going to barf for the same reason:

https://github.com/openfaas/faasd/blob/master/hack/install.sh#L156

[2022-06-08 19:51] jsiebens commented on #282
I think HOME isn't set when cloud-init executes a startup script.
When logging into a cloud vm after boot, the install script works as expected.

[2022-06-08 21:34] #282 closed

[2022-06-09 09:15] springlustre opened #284 "how can i install faasd offline?"
i want to install faasd on offline RHEL server, is there any good method?

[2022-06-12 08:21] alexellis commented on #284
Hi you'll need to fill out the whole issue template if you'd like help from us.

Alex

[2022-06-14 18:28] alexellis commented on #284
Closing due to the template not being filled out. You know what to do if you'd like to engage with us.

[2022-06-14 18:28] #284 closed

[2022-06-18 06:31] Yoshino-s opened #285 "Using $SUDO instead of sudo in install.sh"
## Due diligence

## Why do you need this?
We use $SUDO in other place, but why we use sudo only in here?

## Expected Behaviour
[code]

## Current Behaviour
[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

Just replace it will be fine.

[2022-06-18 09:46] #285 closed

[2022-06-18 09:46] alexellis commented on #285
Thanks for letting us know.

[2022-06-18 09:46] #254 closed

[2022-06-18 09:47] alexellis commented on #254
Closing due to lack of information. Happy to re-open if you fill out the issue template. See my response above from two months ago.

https://raw.githubusercontent.com/openfaas/faasd/master/.github/ISSUE_TEMPLATE.md

[2022-06-18 09:47] #253 closed

[2022-06-18 09:48] alexellis commented on #253
I'll close this since nobody that's tried to help has been able to reproduce the problem. If someone lands here later, feel free to restart the conversation.

[2022-07-01 15:21] alexellis opened #289 "Instrument the provider"
## Why do you need this?

The provider for faasd can now be instrumented by Prometheus due to a recent change in faas-provider.
The new metrics are described in the following PR: https://github.com/openfaas/faas-provider/pull/64 / release: https://github.com/openfaas/faas-provider/releases/tag/v0.19.0

This will give users more visibility into bottlenecks, performance issues, or issues caused by p

[2022-07-02 08:33] nitishkumar71 commented on #289
Won't it be possible by just providing
[code]

Also, as we would have to introduce `/mertics` endpoint, so we may have to copy relevant vendor files too.

[2022-07-06 15:57] alexellis commented on #289
I think you will need `ip addr` `ifconfig openfaas0` and to use the IP there.

[2022-07-08 14:47] #289 closed

[2022-07-13 03:32] nitishkumar71 opened #291 "documentation update - faasd version to 0.16.2"
## Due diligence

## My actions before raising this issue
Before you ask for help or support, make sure that you've [consulted the manual for faasd](https://openfaas.gumroad.com/l/serverless-for-everyone-else). We can't answer questions that are already covered by the manual.
Update all the instance of faasd version to latest i.e. 0.16.2 in documentation

## Why do you need this?
Documentation is

[2022-07-27 08:39] vnourdin opened #293 "Question about updating functions via faas-cli"
First of all, thanks a lot for all the great job done on this amazing tool. My current POC makes me pretty confident that Faasd is exactly what I need for my web dev work.

## Problem
Each time I deploy a function, either with `faas-cli up` or with `faas-cli deploy` right after a build, it fails with error:
 `Unexpected status: 500, message: error deleting container MY_FUNCTION, MY_FUNCTION, canno

[2022-07-31 11:38] nitishkumar71 commented on #293
@vnourdin  I tried to produce the issue, but could not do it. Possibly if you can explain in brief, how you are trying to do it. Are there request in-flight while you are trying to deploy the function?

[2022-08-04 05:41] r4jeshwar commented on #250
@alexellis  I have done faasd IaC for Hetzner. Here you go:
[terraform-hetzner-faasd](https://github.com/itTrident/terraform-hetzner-faasd)

[2022-08-04 10:53] vnourdin commented on #293
In fact, each time I try to deploy (with `faas-cli up` or `deploy`), it fails with the `failed precondition` error, and if I retry right after, it succeeds.
There is no running functions when I deploy, as I only have one function deployed and call it by hand for testing.
For the records, my faasd server is hosted on a VPS and I deploy from my computer.

[2022-08-06 15:10] nitishkumar71 commented on #293
@welteki Can you reproduce this issue?

[2022-08-10 13:01] MrWormHole commented on #144
Hi @vielmetti , is this still an occurring issue? I run my faasd instance in armv8(aarch64) system with debian 11.

Can you confirm if this can be closed or not?

[2022-08-12 09:31] alexellis commented on #144
I agree, and in my general experience, faasd works "fine" on ARM64 and I use it on Raspberry Pi OS and Ubuntu 20.04 on a regular basis. I've also used it at various times on 64-bit ARM servers from Equinix Metal.

This seems more like an issue with the specific version or distribution you're using? Could you update the heading accordingly?

What's the linked issue to containerd? Does this go away

[2022-08-13 09:14] alexellis commented on #144
I've just seen this issue is two years old, so I'm going to close it. If this is an issue again for anyone, raise a new issue please.

[2022-08-13 09:14] #144 closed

[2022-08-13 09:14] alexellis commented on #144
/lock

[2022-08-13 11:01] MrWormHole commented on #227
this is no longer an issue on 64 bit, I can confirm, I run raspberry pi OS (64 bit) which depends on debian 11

![image](https://user-images.githubusercontent.com/22800416/184480624-802006b1-e621-48a0-89ed-175d22e1d6d0.png)

I also recommend using the official raspberry PI flasher because on Debian's website there are too many weird images you can get a legacy directly.

![image](https://user-imag

[2022-08-13 12:22] alexellis commented on #227
Let's get this closed then.

[2022-08-13 12:23] #227 closed

[2022-08-16 16:35] username-is-already-taken2 opened #295 "containerd fails to install in install.sh on raspberry pi (32bit OS)"
## Due diligence

## My actions before raising this issue
I'm following serverless for everyone else 1.5, it recommends the use of 32bit Raspberry Pi OS lite

## Why do you need this?
Just trying to follow the guide to setup faasd on a raspberry pi

## Expected Behaviour
arkade should install the cni plugins

## Current Behaviour

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://gi

[2022-08-17 07:39] welteki commented on #295
Hi @username-is-already-taken2

Thanks for reporting this.

Like you mentioned running the 64bit version of Raspbian OS Lite would be a good workaround.

Regards,
Han

[2022-08-17 15:36] alexellis commented on #295
We'll get this fixed.

The install.sh script can be edited to download containerd from https://github.com/alexellis/containerd-arm/releases for armv7

[2022-08-18 10:19] #295 closed

[2022-08-18 11:49] alexellis commented on #293
I can't reproduce this but suspect it's related to timeouts.

We'll need to see your stack.yml file.

[2022-08-19 05:14] recumbentbirder opened #299 "Caddy does not start after deployment via Terraform"
## Expected Behaviour

caddy.service should run

## Current Behaviour

caddy.service does not run: can't find its binary.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

But for now, I at least just bought the book ;-)

## List All Possible Solutions and Workarounds

1. change systemd script to call caddy in /usr/local/bin
2. OR: install c

[2022-08-19 05:15] recumbentbirder commented on #299
Thanks for the fast fix, Alex!

[2022-08-19 05:15] #299 closed

[2022-08-19 09:13] vnourdin commented on #293
Here is my `stack.yml`:
[code]
And `sudo ctr -n openfaas-fn images list` tell me that the image size is 55.8 MiB.

I use a custom template, maybe I missed something in my Node server's code ?
Here is my `Dockerfile`:
[code]
and my `index.js` contains a simple vanilla Node http server.

[2022-08-19 09:38] rgee0 commented on #293
If I'm interpreting your set-up correctly, I would be interested in what happens if you add a 'docker pull registry.gitlab.com/vnourdin/my-project/my-function` between the build and deploy steps.

[2022-08-19 11:07] vnourdin commented on #293
I can't `docker pull` as I haven't installed docker on the fassd host.
Even without changing the image, deploy fails, but the image is already on the host from the previous deployment...

[2022-08-19 11:19] rgee0 commented on #293
I was thinking more about the CI/CD steps.  You're clearly (now) working interactively.

Does this look similar?  https://github.com/alexellis/faas-containerd/issues/28

[2022-08-19 13:33] alexellis commented on #299
Thanks for letting us know

https://github.com/openfaas/faasd/commit/13304fa0b2f549e46f3ee89f34e76287958d74b1

[2022-08-20 06:20] QWQyyy opened #300 "I face to a very big IP connect problem, I need you help"
this is a install problem
I couldn't start the queue-worker, I think it is my k8s some problem, but it seemly weel, could you give me some suggestion?

![image](https://user-images.githubusercontent.com/54056797/185731868-4943dda2-7787-4c65-bcb4-4582379cc686.png)

![image](https://user-images.githubusercontent.com/54056797/185731876-fb2abff2-e1d3-4a77-b91a-13d79178f134.png)

![image](https://user-

[2022-08-20 06:21] QWQyyy commented on #300
port 10250 look like good, we should set some setting?

[2022-08-20 09:16] alexellis commented on #293
@vnourdin perhaps you can try this example? https://github.com/alexellis/expressjs-k8s

[2022-08-20 09:17] alexellis commented on #300
Hi this is the wrong repository for whatever you're trying to do, and you've not filled in the issue template, which means we can't help you.

You may want openfaas/faas-netes, but you need to take the time to fill out every question.

Alex

[2022-08-20 09:17] #300 closed

[2022-08-20 09:18] vnourdin commented on #293
Yes, I haven't yet set up my CI/CD.
It looks similar indeed, I have a task in the RUNNING state, the first deploy fails but the task become STOPPED and then I can deploy.

[2022-08-20 09:18] alexellis commented on #293
/set title: Question about updating functions via faas-cli

[2022-08-20 09:23] alexellis commented on #293
faas-cli deploy is blocking with faasd, rather than asynchronous as it is with Kubernetes.

It could be that your Node.js image is _huge_ and most of us use smaller images.

[code]

I saw a timeout during the deployment, which I think may be set to 30 seconds for an initial, cold pull. `alexellis2/service:0.4.1` is around 177MB in size.

[2022-08-20 09:28] vnourdin commented on #293
I have the same behavior with your expressjs example.

The initial deploy succeed, it's only when a task is currently running that I can't deploy.

I haven't set any timeout.

I wanted to make my own template to understand how it works and be more comfortable with faasd, then maybe switch to your node17 template.

[2022-08-20 09:51] vnourdin commented on #293
I have tried to reduce timeouts, but it doesn't help
[code]

[2022-08-22 14:20] alexellis commented on #293
Check out the [troubleshooting chapter of the faasd manual](https://gumroad.com/l/serverless-for-everyone-else) and see what logs you can find during the redeployment?

You may also have faasd set to "always pull" new images, which could be making it take a bit longer if you're on a slow internet connection.

I use faasd quite a lot, even with Node and generally, I've not had issues around this, o

[2022-08-22 14:46] wimdecorte opened #301 "Functions remain "not ready" after RPI4 restart/reboot"
## Due diligence

## My actions before raising this issue
Before you ask for help or support, make sure that you've [consulted the manual for faasd](https://openfaas.gumroad.com/l/serverless-for-everyone-else). We can't answer questions that are already covered by the manual.
Done.  Bought the book, read the deployment and troubleshooting sections, inspected the various logs.

## Why do you need t

[2022-08-22 14:52] alexellis commented on #301
Hi @wimdecorte thanks for the one-time sponsorship.

This behaviour is working as designed, upon reboot, all functions are scaled to zero and will be scaled up in time for the first invocation that they receive.

This should not cause you any issues that I'm aware of? Have you tried visiting the URL as displayed in the URL field in the UI?

Some people have added a `/health/` endpoint to their fun

[2022-08-22 14:52] #301 closed

[2022-08-22 14:52] alexellis commented on #301
/set title: Functions are scaled to zero after a reboot

[2022-08-22 15:49] vnourdin commented on #293
I'm not really comfortable being "forced" to buy the ebook to be able to complete my POC, it's kind of frustrating if I decide to go with another tool, but I understand it's a way of funding the product.

I don't know how this pull policy can be set, I haven't touched it. I'm on a VPS, so the network isn't a problem.

I have the same behavior with [your express example](https://github.com/alexelli

[2022-08-26 04:10] ksclarke commented on #173
Looks like this was merged, should this issue be closed?

[2022-08-26 05:54] rgee0 commented on #173
Derek close: addressed in #173

[2022-08-26 05:54] #173 closed

[2022-08-26 10:17] #293 closed

[2022-08-26 10:18] alexellis commented on #293
Hey @vnourdin no worries, we'll close this issue then.

Thanks for your interest in faasd.

Alex

[2022-08-31 16:36] alexellis opened #302 "Validate docker-compose.yaml file with arkade chart verify"
Validate docker-compose.yaml file with the `arkade chart verify` command

## Why do you need this?

Sometimes invalid images tags could be put into the faasd compose file.

The change may be to go one level deeper in the struct:

[code]

[2022-08-31 16:38] alexellis commented on #302
cc @nitishkumar71

[2022-09-18 13:50] unnimona opened #305 "502 error faasd gateway timeout at 60 seconds for async function with webhook"
**Expected behaviour**
my aim is that function to return 200 OK with output even if it takes any time with maybe at the maximum time of 10 minutes and not 60 seconds

**Current Behaviour**

i made a function but i observed if the processing takes more than 60 seconds results in 502 error with no output. I can see in the function logs that function successfully completed at Duration: 192s
I had als

[2022-09-18 14:00] unnimona commented on #305
Same function executed fine for a 52 second process

[code]

[code]

[2022-10-02 13:04] drexhacker opened #306 "Metrics hander: unexpected status code retrieving functions from backend"
I installed faasd on my vps Server and proxied with nginx but I have these errors logged in my console:
[code]

[2022-10-03 16:32] alexellis commented on #305
Hey, thanks for taking the time to try out faasd and to write up an issue.

The 60s number seems very specific, so I wonder if it's another timeout set up somewhere that needs to be changed?

Can you try invoking using `curl` instead of `faas-cli invoke` because I suspect `faas-cli invoke` has a fixed timeout.

Alex

[2022-10-03 16:53] alexellis commented on #305
I'm going to close this because I'm fairly confident that using curl plus `service_timeout` is the fix here. Let me know if it's otherwise, and we can re-open and chat again.

Alex

[2022-10-03 16:53] #305 closed

[2022-10-04 12:43] zhulik opened #307 "Where can I find out about faasd design choices?"
## Due diligence

## My actions before raising this issue

I was looking for simple tool to run cloud functions on my own hardware and found faasd. The faasd readme says that it is exactly what I need, and suggest buying a manual. What it does not say about, is the fact that faasd cannot run more than one replica of a function at a time. This fact is only mentioned in the paid manual and I find it

[2022-10-04 14:58] alexellis commented on #307
Hi @zhulik thanks for your interest in faasd.

If you need scaling of replicas, then you should use OpenFaaS on K3s or Kubernetes. K3s installed with K3sup is trivial to set up and shouldn't take you more than 5-10 minutes.

We ran through this demo on our free weekly community call last week. Maintenance tasks with k3s are also much easier than "full K8s".

And yes, this is fully documented and i

[2022-10-04 14:58] alexellis commented on #307
/set title: Where can I find out about faasd design choices?

[2022-10-04 14:58] alexellis commented on #307
/add label: support,question

[2022-10-04 15:00] #307 closed

[2022-10-11 07:19] unnimona commented on #305
/lib/systemd/system/faasd-provider.service

[Unit]
Description=faasd-provider

[Service]
MemoryLimit=500M
Environment="secret_mount_path=/var/lib/faasd/secrets"
Environment="basic_auth=true"
Environment="hosts_dir=/var/lib/faasd"
ExecStart=/usr/local/bin/faasd provider
Restart=on-failure
RestartSec=10s
WorkingDirectory=/var/lib/faasd-provider
Environment="service_timeout=5m"

[Install]
WantedBy=mu

[2022-10-11 08:32] alexellis commented on #305
Sorry, you can't just deploy any function and expect it to have an unlimited timeout. That's not how this works. As per the [Expanded timeout tutorial](https://docs.openfaas.com/tutorials/expanded-timeouts/), you have to override other variables:

[code]

[2022-10-11 08:33] alexellis commented on #305
/set title: How do I set a long timeout?

[2022-10-23 06:41] CleverCoder commented on #97
This is still a relevant issue. Following the documentation here: https://docs.openfaas.com/tutorials/local-kind-registry/
The resolved URL for the registry is something like:  `https://localhost:5001/v2/<function>/manifests/latest`
When the faas CLI tries to deploy, I see an error:

However, the image is fine and the URL works when switching `https` to `http`.
This seems like a pretty common use-

[2022-10-23 07:18] #302 closed

[2022-10-30 22:36] enbeec opened #308 "Error pulling private image from GitHub Container Registry"
## Due diligence

## My actions before raising this issue

Following the docs I have done the following:

- using `faasd` on a fresh VM (logged in on the host with `faas login`)
- ran `faas registry-login` and installed `config.json` to `/var/lib/faasd/.docker/`
  - I re-did this step a few ways and ended up comparing against the `docker` configuration in my home directory.
- set up my function re

[2022-10-31 08:31] alexellis commented on #308
Hi, thanks for your interest in faasd.

I spent a couple of hours trying to reproduce this issue for you with a brand new repo and installation on my Raspberry Pi.

https://github.com/alexellis/creates-private-ghcr-function/actions/runs/3359586196

[code]

I couldn't reproduce any problems, but [I have updated the eBook instructions](https://gumroad.com/l/serverless-for-everyone-else) which I thin

[2022-10-31 08:31] #308 closed

[2022-11-01 03:13] enbeec commented on #308
Thanks for the prompt and decisive response

It would certainly appear that something inexplicable is happening. The good news is that means starting from scratch might inexplicably work!

Cheers,
Val

[2022-11-01 12:13] alexellis commented on #308
Hi Val,

I can see the error in your instructions. You'll find the updated information you need in the eBook which is the manual for faasd.

Do you have a copy yet?

Alex

[2022-11-01 16:39] enbeec commented on #308
I do have the eBook! It's been very helpful. I was able to get things working with a multipass VM last night.

What was the error in my instructions? I want to make sure my notes are correct.

Val

[2022-11-01 16:41] enbeec commented on #308
Ah I see an error in the instructions -- I was doing `registry-login` on the VM but this reads like it's being done on the host.

Was there anything else?

[2022-11-02 06:51] alexellis commented on #308
/lock: resolved

[2022-11-08 04:03] sprive commented on #81
Questions about this...

1. What does "release `0.9.0`" refer to, exactly?
2. What check are you looking for, around `faasd install`?:
[code]
3.  _"update all the guides"_... I've only exercised the one [MULTIPASS.md](https://github.com/openfaas/faasd/blob/master/docs/MULTIPASS.md).  So it may (or may not) be worth splitting this issue, or outlining a checklist of guide(s) within this issue becaus

[2022-11-08 08:15] rgee0 commented on #81
Unfortunately I think you may have been overtaken by events with this one.  The issue is now over two years old and the 0.9.0 work seems to have been undertaken in https://github.com/openfaas/faasd/commit/db5312158cbc8b9df156884634d7355a80ab7127

[2022-11-09 01:22] sprive commented on #81
No worries. Cheers

[2022-11-09 09:39] #81 closed

[2022-11-09 09:39] alexellis commented on #81
Closing, thanks both